<main>
  <article>
    <div class="panel">
      <div class="content">
        <div id="policy-container">
          <h1>Tzukuri Beta competition Terms and Conditions</h1>

          <ul>
            <li>Information on how to enter and prizes forms part of these conditions of entry. Submission of an entry is deemed acceptance of these conditions of entry.</li>
            <li>Entry is only open to Australian residents / residents of NSW, ACT, VIC, SA, QLD, TAS, WA, NT aged 18 years or over.</li>
            <li>Employees (and their immediate families) of the Promoter, participating retailers and agencies associated with this promotion are ineligible to enter.</li>
            <li>Competition commences June 20, 2016 and final entries close and must be received by 11:59PM AEST July 15th 2016 (“Competition Period”). Winners will be notified by email by July 21th 2016 (“Winner Notification Date”). The Promoter’s decision is final and no correspondence will be entered into. An entry is deemed to be received at the time of its receipt by the Promoter and not at the time of transmission by the entrant. </li>
            <li>This is a game of skill and chance plays no part in the determination of winners. Each entry will be individually judged according to its merits on the basis of creativity as determined by the Promoter in its sole discretion. </li>
            <li>To enter, Eligible Entrants must register at Tzukuri.com. Entrants are to invite their friends to attend to the beta program, and for each friend that accepts, the entrant will get 10 points. An additional 5 points can be gained by answering survey questions as specified.</li>
            <li>Only one entry is permitted per person.</li>
            <li>The Promoter reserves the right to verify the validity of entries and entrants (including an entrant’s identity, age and address) and to disqualify any entrant who submits an entry that is not in accordance with these conditions of entry, who tampers with the entry process or who submits an entry that the Promoter, in its sole discretion, deems to be offensive, inappropriate, defamatory or otherwise not in keeping with the spirit of the competition. Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. </li>
            <li>Incomplete, indecipherable, or illegible entries will be deemed invalid. Any incorrect entrant details submitted may render the corresponding entry invalid. It is each entrant’s responsibility to inform the Promoter if their personal details change prior to the Winner Notification Date.</li>
            <li>If there is a dispute as to the identity of an entrant, the entrant will be deemed to be the person in whose name is on the completed survey.</li>
            <li>The entrant with the most amount of points, as determined by the Promoter, in its sole discretion, will receive a pair of Tzukuri glasses and have a right to test the product over 6-8 weeks. At the end of 8 weeks, the entrant can keep the glasses.</li>
            <li>If for any reason whatsoever the prize winner does not take their prize or an element of their prize at the time stipulated by the Promoter, then the prize or that element of the prize will be forfeited by the prize winner and neither cash nor any other prize will be awarded in lieu. In any event, if the winner does not claim their prize within 7 days of the date upon which the Promoter first attempts to contact them, they will forfeit the prize and the Promoter will select the next best entry. This process will continue either until the particular prize is claimed or valid entries are exhausted, whichever occurs first.</li>
            <li>Each work submitted as part of an entry (“Work”) becomes the property of the Promoter. As a condition of entry, each entrant irrevocably grants to the Promoter a non-exclusive perpetual worldwide license to use and exploit all intellectual property rights (including, without limitation, copyright) in and to the Work and consents to the Promoter doing (or omitting to do) any acts in respect of the Work which may otherwise constitute an infringement of an entrant’s moral rights. For the avoidance of doubt, the Promoter use all or part of an entrant’s Work(s) for promotional, marketing or publicity purposes, whether in respect of the competition, the Promoter or otherwise. Each entrant warrants to the Promoter that the Work submitted is an original work of the entrant which does not infringe any rights of any third party. A breach of the warranty set out in this condition will result in the entrant’s entry being invalid. In addition, each entrant indemnifies the Promoter against all loss, damages and costs incurred by the Promoter arising from that entrant’s breach of the warranty set out in this condition. </li>
            <li>If a prize (or part of any prize) is unavailable, the Promoter, in its discretion, reserves the right to substitute the prize (or that part of the prize) with an alternative prize to the equal value and/or specification, unless to do so would be prohibited by law.</li>
            <li>If for any reason whatsoever beyond the reasonable control of the Promoter, the competition is not capable of being conducted as reasonably anticipated, the Promoter reserves the right, in its sole discretion, unless to do so would be prohibited by law, to (a) disqualify any entrant; and/or (b) to cancel, suspend, modify, terminate or cancel the promotion.</li>
            <li>Unless otherwise stipulated, no prize is transferable, exchangeable or redeemable for cash.</li>
            <li>Except for any implied condition, guarantee or warranty the exclusion of which from these conditions of entry would contravene any statute or cause any part of these conditions of entry to be void (“Non Excludable Condition”), the Promoter excludes from these conditions of entry all conditions, guarantees, warranties and terms, implied by statute, general law or custom. Except for any liability in relation to a Non Excludable Condition, the Promoter (including its officer, employees and agents) excludes all liability whether arising in tort (including, without limitation, negligence), contract or otherwise for any personal injury or any other loss or damage (including without limitation loss of opportunity or loss or profits) whether direct, indirect, special or consequential, arising in any way out of the promotion, including, without limitation, the following:
              <ul>
                <li>any technical difficulties or equipment malfunction (whether or not under the Promoter’s control)</li>
                <li>any theft, unauthorised access or third party interference</li>
                <li>any entry or prize claim that is late, lost altered, damaged or misdirected (whether or not after receipt by the Promoter) due to any reason beyond the reasonable control of the Promoter;</li>
                <li>any variation in prize value to that sated in these conditions of entry;</li>
                <li>any tax implications;</li>
                <li>the cancellation or postponement of the Event; and/or (g) a prize or use of a prize. </li>
              </ul>
              Nothing in these terms affects the statutory rights of any person under The Australian Consumer Law or any other applicable law. 
            </li>
            <li>Each entrant consents, if the entrant becomes a winner, to the Promoter using the entrant’s name, likeness, image and/or voice (including photograph, film and/or recording of the same) in an media for an unlimited period of time without remuneration for the purpose of promoting this competition (including any outcome), the Promoter and or products/services supplied by the Promoter. </li>
            <li>The Promoter collects personal information in order to conduct the competition and provide any goods/services requested and may, for that purpose, disclose such information to third parties, including, but not limited to, prize suppliers or a regulatory authority and for any purpose to which the entrant has previously consented, including but not limited to, future promotional, marketing and publicity purposes. Entrants should direct any request to access, update or correct information to the Promoter. All entries become the property of the Promoter. </li>
            <li>The Promoter is Tzukuri Pty Ltd of 6 Lenthall Street, Kensington, NSW, 2010 ABN 70 168 417 721</li>
          </ul>
          </div>
      </div>
    </div>
  </article>
</main>
