<!-- ive -->
<div class="u-full-width panel" id="ive">
  <div class="container" style="text-align: center;">
    <!-- image and navigation buttons -->
    <div class="row">
      <div class="two columns">
      &nbsp;
        <!-- <i class="fa fa-2x fa-chevron-left"></i> -->
      </div>
      <div class="eight columns">
        <%= image_tag 'frames/ive/ive_black_optical.jpg', style: 'width: 100%', id:"ive-optical" %>
        <%= image_tag 'frames/ive/ive_black_sun.jpg', style: 'width: 100%; display: none', id:"ive-sun" %>
      </div>
      <div class="two columns">
      &nbsp;
        <!-- <i class="fa fa-2x fa-chevron-right"></i> -->
      </div>
    </div>

    <!-- optical vs. sun -->
    <div class="row lens-type">
      <div class="five columns">&nbsp;</div>
      <div class="one column">
        <i class="fa fa-circle selected" id="ive-optical-toggle"></i>
        <p>Optical</p>
      </div>
      <div class="one columns">
        <i class="fa fa-circle" id="ive-sun-toggle"></i>
        <p>Sun</p>
      </div>
      <div class="five columns">&nbsp;</div>
    </div>

    <!-- header row -->
    <div class="row" style="margin-top: 20px;">
      <div class="two columns">&nbsp;</div>
      <div class="five columns" style="text-align: left;">
        <h1><span class="bold">Ive</span><span class="spacer">|</span>Inspired by Jony Ive</h1>
      </div>

      <div class="three columns" style="text-align: right;">
        <button>reserve</button>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>

    <!-- content -->
    <div class="row" style="text-align: left;">
        <div class="two columns">&nbsp;</div>
        <div class="eight columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>

  </div>
</div>


<!-- ford -->
<div class="u-full-width panel" id="ford">
  <div class="container" style="text-align: center;">

    <!-- image and navigation buttons -->
    <div class="row">
      <div class="two columns">
        &nbsp;
        <!-- <i class="fa fa-2x fa-chevron-left"></i> -->
      </div>
      <div class="eight columns">
        <%= image_tag 'frames/ford/ford_black_optical.jpg', style: 'width: 100%', id: 'ford-optical' %>
        <%= image_tag 'frames/ford/ford_black_sun.jpg', style: 'width: 100%; display: none', id: 'ford-sun' %>
      </div>
      <div class="two columns">
        &nbsp;
        <!-- <i class="fa fa-2x fa-chevron-right"></i> -->
      </div>
    </div>

    <!-- optical vs. sun -->
    <div class="row lens-type">
      <div class="five columns">&nbsp;</div>
      <div class="one column">
        <i class="fa fa-circle selected" id="ford-optical-toggle"></i>
        <p>Optical</p>
      </div>
      <div class="one columns">
        <i class="fa fa-circle" id="ford-sun-toggle"></i>
        <p>Sun</p>
      </div>
      <div class="five columns">&nbsp;</div>
    </div>

    <!-- header row -->
    <div class="row" style="margin-top: 20px;">
      <div class="two columns">&nbsp;</div>
      <div class="five columns" style="text-align: left;">
        <h1><span class="bold">Ford</span><span class="spacer">|</span>Inspired by Henry Ford</h1>
      </div>

      <div class="three columns" style="text-align: right;">
        <button>reserve</button>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>

    <!-- content -->
    <div class="row" style="text-align: left;">
        <div class="two columns">&nbsp;</div>
        <div class="eight columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>

  </div>
</div>
