<div class="u-full-width panel" id="technology-hero">
  <div class="container">
  HERO
  </div>
</div>

<!-- ble image -->
<div class="container panel">
  <div class="row">
    <div class="six columns">
      BLE Image Placeholder
    </div>
    <div class="six columns">
      <h1><span class="bold">bluetooth low energy</span><span class="spacer">|</span>Subtitle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a justo cursus, finibus risus et, posuere arcu. Pellentesque diam tortor, aliquam eget turpis eu, tempor consequat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
  </div>
</div>

<!-- frequency diversity -->
<div class="container panel">
  <div class="row">
    <div class="six columns">
      <h1><span class="bold">frequency diversity</span><span class="spacer">|</span>Subtitle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a justo cursus, finibus risus et, posuere arcu. Pellentesque diam tortor, aliquam eget turpis eu, tempor consequat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
    <div class="six columns">
      Frequency Diversity Image Placeholder
    </div>
  </div>
</div>

<!-- magnetic fingerprinting -->
<div class="container panel">
  <div class="row">
    <div class="six columns">
      Magnetic Fingerprinting Image Placeholder
    </div>
    <div class="six columns">
      <h1><span class="bold">magnetic fingerprinting</span><span class="spacer">|</span>Subtitle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a justo cursus, finibus risus et, posuere arcu. Pellentesque diam tortor, aliquam eget turpis eu, tempor consequat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
  </div>
</div>
