@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body.beta_store {

  font-family: "Helvetica Neue", sans-serif;

  .close, .back {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 14pt;
    color: #555;
    font-weight: 200;

    span {
      font-size: 16px;
      color: #555;
    }
  }

  #details-message {
    margin-top: 20px;
    color: #888;
    font-size: 10pt;
  }


  #header {
    text-align: center;
    margin-top: 75px;

    #logo {
      height: 65px;
    }

    #tzukuri {
      font-size: 56pt;
      font-weight: 200;
    }

    #subheading {
      font-size: 28pt;
      font-weight: 100;
      letter-spacing: 0.5pt;
      color: #999;
    }
  }

  #progress {
    background-color: #5AA4E8;
    height: 4px;
    position: absolute;
    bottom: 0;
    @include transition(width 0.5s);
    transition-timing-function: ease-in-out;

    &.step-1 {
      width: 0%;
    }
    &.step-2 {
      width: 20%;
    }
    &.step-3 {
      width: 40%;
    }
    &.step-4 {
      width: 60%;
    }
    &.step-5 {
      width: 80%;
    }
    &.complete {
      width: 100%;
    }

  }

  #steps-container {
    .select-step {
      display: flex;
      padding-right: 150px;
      padding-left: 150px;

      // type selection
      &#select-type {
        padding-top: 220px;

        .type-button {
          margin-left: auto;
          margin-right: auto;
          width: 400px;
          height: 125px;
          text-align: center;
          border: 1px solid #5AA4E8;
          border-radius: 100pt;
          color: #5AA4E8;
          font-size: 26pt;
          font-weight: 100;
          letter-spacing: 0pt;
        }
      }

      // model selection
      &#select-model {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;

        #models {
          display: flex;
          text-align: center;

          li {
            img.select-model-image {
              width: 600px;
            }
            #model-header {
              font-size: 11pt;
              color: #999;
              letter-spacing: 1pt;
              font-weight: 300;
            }
          }
        }
      }

      // color selection
      &#select-colour {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;

        #colours {
          display: flex;
          text-align: center;

          li {
            img.select-colour-image {
              width: 600px;
            }
            #colour-header {
              font-size: 11pt;
              color: #999;
              letter-spacing: 1pt;
              font-weight: 300;
            }
          }
        }
      }

      // size selection
      &#select-size {
        padding-top: 100px;
        padding-left: 350px;
        padding-right: 350px;

        #sizes {
          display: flex;
          text-align: center;
          margin-left:150px;

          li {
            &#small-size {
              margin-right: 100px;
              img {
                height: 430px;
              }
            }

            &#large-size img {
              height: 500px;
            }

            p {
              margin-top:30px;
            }

            #size-header {
              font-size: 11pt;
              color: #999;
              letter-spacing: 1pt;
              font-weight: 300;
            }
          }
        }
      }

      &#enter-details {

        padding-left: 200px;
        padding-right: 200px;
        padding-top: 75px;
        display: flex;

        #form-container {
          #details-form {

            #submit {
              button {
                border: 1px solid #5AA4E8;
                border-radius: 50pt;
                color: #5AA4E8;
                font-size: 14pt;
                font-weight: 200;
                letter-spacing: 0pt;
                margin-top: 20px;
                padding-left: 50px;
                padding-right: 50px;
                height: 50px;
              }
            }

            p {
              margin-bottom: 8px;

              input[type=text], input[type=email] {
                width: 300px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                background-color: #eee;
                color: #333;
                font-size: 13px;
                height: 44px;
                padding: 4px 8px;
                outline: none;
                border: none;
                -webkit-appearance:none;  /* Remove default shadow */
                @include transition(border-color 0.5s);

                &.error {
                  color: RGBA(240, 97, 77, 1);
                  border: 1px solid RGBA(240, 97, 77, 0.5);
                }

              }
            }
          }

        }

        #glasses-preview {
          flex: 1;
          margin-left: 50px;
          img {
            width: 600px;
          }

          #glasses-details {
            position: absolute;
            right: 100px;
            width: 200px;

            dt, dd {
              display: inline-block;
              margin-bottom: 3px;
              font-size: 14px;
            }

            dt {
              width: 60px;
              text-transform: uppercase;
              font-weight: 600;
              text-align: right;
              margin-right: 10px;
            }

            dd {
              text-transform: capitalize;
              width: 120px;
            }
          }

        }
      }

      &#complete {
        margin-top: 25%;
        text-align: center;
        display: block;

        #thank-you {
          font-size: 32pt;
          line-height: 50pt;
          font-weight: 200;
        }

        #thank-you-subheading {
          font-size: 12pt;
          font-weight: 200;
          line-height: 20pt;
          color: #999;
        }

        button {
          border: 1px solid #5AA4E8;
          border-radius: 50pt;
          color: #5AA4E8;
          font-size: 14pt;
          font-weight: 200;
          letter-spacing: 0pt;
          padding-left: 50px;
          padding-right: 50px;
          height: 50px;
        }

      }
    }
  }
}
