@import "tzukuri/variables";
@import "tzukuri/mixins";

body.buy {

    ul li {
      list-style: disc;
    }

    #try-them-on {
      button {
        margin-top: 30px;
      }
    }

    #store-head {
      text-align: center;
      padding-bottom: 20px;

      h2 {
        padding-bottom: 0px;
      }
    }

    .purchase-opt {
      text-align: center;

      h2 {
        padding-bottom: 20px;
      }

      p {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    #purchase {

      .frame-col {
        text-align: center;
        padding-bottom: 20px;
        box-sizing: border-box;

        #ive-sun, #ford-sun {
          margin-bottom: 70px;
        }

        img {
          width: 75%;
        }

        .lens-controls {
          margin-top: 10px;
          margin-bottom: 15px;

          .control {
            width: 25px;
            height: 25px;
            display: inline-block;
            border-radius: 50%;
            box-sizing: border-box;

            &.sun {
              background-color: #AB9B8B;
            }

            &.optical {
              background-color: white;
              border: 2px solid $tz-content;
            }

            &:hover {
              cursor: pointer;
            }

            &.selected {
              border: 2px solid $tz-active;
            }
          }
        }

        .frame-name {
          @include font-size(22px);
          margin-top: 20px;
        }

        .frame-detail {
          margin-bottom: 10px;
          @include font-size(14px);
          a {
            @include font-size(14px);
          }
        }
      }
    }

    #checkout {
      display: none;

      #order-complete {
        display: none;
        text-align: center;
        margin-top: 10%;

        p, a {
          @include font-size(16px)
        }
      }

      #order-details {
        @include sticky;
        top: 100px;

        .glasses {
          width: 90%;
          display: none;
        }
      }

      #order-form {
        #error-messages {
          color: $tz-error;
          text-align: center;
        }
      }

      p {
        @include font-size(14px);
      }

      .section-head {
        @include font-size(18px);
        margin-top: 10px;
      }

      #lens-group-optical, #lens-group-sun, #prescription-group, #size-group, #new_preorder, #payment-form {
        display: none;
      }

      dl {
        margin-top: 40px;
        margin-bottom: 10px;

          @include font-size(14px);
          color: $tz-content;
          line-height: 150%;

          dt, dd {
              display: inline-block;
          }

          dt {
              text-align: right;
              font-weight: 600;
          }

          dd {
              text-transform: capitalize;
          }
      }
    }

    .contracted {
      max-height: 30px !important;
      overflow: hidden;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      @include transition(max-height 0.5s ease-out);
    }

    #in-the-box, #specifications {
      max-height: 1000px;
      @include transition(max-height 0.5s ease-out);
    }

    #in-the-box {
      p {
        @include font-size(14px);
        margin-top: 20px;
        font-weight: 600;
      }

      .row {
        overflow: hidden;
        max-height: 300px;

        .columns {
          text-align: center;
        }
      }

      #unlosable {
        width: 40%;
      }

      #charge {
        width: 60%;
      }

      #cloth {
        width: 50%;
      }

    }

    #specifications {
      margin-bottom: 20px;

      article {
        margin-top: 20px;

        h2 {
          @include font-size(24px);
          padding-top: 10px;
          padding-bottom: 10px;
        }

        ul {
          margin-left: 20px;
        }

        p {
          padding-bottom: 10px;
        }

        li, p {
            @include font-size(14px);
            line-height: 200%;
        }
      }
    }
}

@media only screen and (max-width: 550px) {
  body.buy {

    #ive-optical {
      margin-bottom: 40px;
    }

    #checkout #order-details {
     position: relative;
     top: 0px;
   }

    #in-the-box {
      .row .four {
        width: 33%;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  body.buy {
    #reserve-nav #nav-list li {
      margin: 0 5px 0 5px;
    }
  }
}
