@import "tzukuri/variables";
@import "tzukuri/mixins";

body.buy {

    ul li {
      list-style: disc;
    }

    #reserve-nav {
      margin-top: 40px;
      text-align: center;

      #nav-list {
          padding: 0;
          text-align: center;

          #nav-indicator {
            margin: 0;
            width: 0px;
            border: 0.5px solid $eerie-black;
            transition: 1s ease;
          }

          li {
            display: inline-block;
            margin: 0 10px 0 10px;
            padding: 5px 0 5px 0;

            a {
              text-decoration: none;
              color: $shadow-green;

              &.current {
                color: $eerie-black;
              }

              &.complete {
                color: $tz-active;
              }
            }
          }
      }
    }

    #try-them-on {
      button {
        margin-top: 30px;
      }
    }

    #reserve {
        margin-top: 40px;
        margin-bottom: 20px;
        min-height: 350px;

        form {
            label {
                margin-left: 5%;
            }
        }

        .glasses-details {
            text-align: left;
            padding-top: 30px;

            p, a {
              @include font-size(14px);
              padding-top: 20px;
              padding-bottom: 20px;
            }

            dl {
                @include font-size(14px);
                color: $tz-content;
                line-height: 150%;

                dt, dd {
                    display: inline-block;
                }

                dt {
                    text-align: right;
                    font-weight: 600;
                }

                dd {
                    text-transform: capitalize;
                }
            }
        }

        .step-container {
            text-align: center;
            display: block;
            @include animation(fadeIn 1.5s ease-in-out);

            #error-messages {
                @include font-size(14px);
                display: none;
                color: $tz-error;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 20px;
            }

            #contact-prescription {
              display: none;
            }

            &.hidden {
                display: none;
            }

            img {
                width: 100%;
                // cursor: pointer;
            }

            h1 {
                @include font-size(32px);
                padding-bottom: 50px;
                margin: 0 auto;
                line-height: 150%;
            }

            p {
                &.pricing {
                    @include font-size(16px);
                    padding-top: 40px;
                    color: $tz-content;
                }

                &.select-title {
                    @include font-size(20px);
                    // font-weight: 300;
                    line-height: 150%;
                    padding-top: 20px;
                    color: $tz-active;
                }
            }

            &#step-utility {}
            &#step-frame {}
            &#step-lens {

              #lens-type{}

              #lens-size{
                display: none;
              }

            }

            &#step-checkout {
              #apple-pay {
                  display: none;

                  .apple-pay-button-with-text {
                      height: 50px;
                      margin-bottom: 20px;
                  }

                  a {
                      font-size: 10pt;
                  }

                  .pricing {
                      padding-top: 20px;
                  }
              }

              #regular-pay {
                  .pricing {
                      padding-top: 0px;
                      text-align: center;
                  }
              }

              #thank-you {
                display: none;

                p {
                  margin-top: 20px;
                  margin-bottom: 20px;
                }

                p, a {
                  @include font-size(16px)
                }

                hr {
                  display: none;
                  margin-top: 0px;
                  margin-bottom: 30px;
                }
              }

              #glasses {
                @include sticky;
                top: 100px;
              }
            }
        }

        .select-type, .select-frame, .select-size, .select-lens {
            cursor: pointer;
        }
    }

    .contracted {
      max-height: 30px !important;
      overflow: hidden;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      @include transition(max-height 0.5s ease-out);
    }

    #in-the-box, #specifications {
      max-height: 1000px;
      @include transition(max-height 0.5s ease-out);
    }

    #in-the-box {
      p {
        @include font-size(14px);
      }

      .row {
        overflow: hidden;
        max-height: 300px;

        .columns {
          text-align: center;
        }
      }

      #unlosable {
        width: 40%;
      }

      #charge {
        width: 60%;
      }

      #cloth {
        width: 50%;
      }

    }

    #specifications {
      margin-bottom: 20px;

      article {
        margin-top: 20px;

        h2 {
          @include font-size(24px);
          padding-top: 10px;
          padding-bottom: 10px;
        }

        ul {
          margin-left: 20px;
        }

        p {
          padding-bottom: 10px;
        }

        li, p {
            @include font-size(14px);
            line-height: 200%;
        }
      }
    }
}

@media only screen and (max-width: 550px) {
  body.buy {

    #reserve-nav {
      display: none;
      margin-top: 20px;

      a {
        @include font-size(14px);
      }
    }

    #reserve {
      margin-top: 20px;
      margin-bottom: 20px;

      .glasses-details {
        text-align: center;
      }

      .step-container {

        &#step-checkout {
          #glasses {
            position: inherit;
          }

          #thank-you hr {
            display: block;
          }
        }

        h1 {
          @include font-size(22px);
          padding-bottom: 30px;
        }

        p, a {
          @include font-size(14px)
        }

        img {
          width: 70%;
        }

        .select-utility, .select-frame, .select-lens, .select-size {
          margin-bottom: 20px;

          .select-title {
            @include font-size(18px)
          }
        }

        p.pricing {
          padding-top: 0px;
        }
      }
    }

    #in-the-box {
      .row .four {
        width: 33%;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  body.buy {
    #reserve-nav #nav-list li {
      margin: 0 5px 0 5px;
    }
  }
}
