body.careers {

  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .description {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bold {
    margin-bottom: 10px;
  }

  ul li {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
