@import "tzukuri/variables";
@import "tzukuri/mixins";

body.contact-us {
  #header {
    p {
      width: 50%;
      margin: 0 auto;
    }
  }

  #enquiry {
    form {
      width: 50%;
      margin: 0 auto;
    }
  }

  #thanks {
    display: none;
    margin-top: 20px;
  }

  #thanks, #header, #enquiry {
    text-align: center;
  }
}

@media only screen and (max-width: $tabletPortrait) {
  body.contact-us {
    #header p {
      width: 90%;
    }

    #enquiry form {
      width: 100%;

      input[type=submit] {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

  }
}
