html.craftsmanship {
    #history {
        padding-top: 160px;

        h1 {
            text-align: center;
        }

        p {
            max-width: 650px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    #japan {
        height: 480px;
    }

    #polarised {
        h1 {
            text-align: center;
        }

        p {
            max-width: 650px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            padding-bottom: 30px;
        }

        dl span {
            width: auto;

            &:first-child {
                margin-right: 150px;
            }
        }
    }
}
