@import "tzukuri/variables";
@import "tzukuri/mixins";

body.design-and-range {
  #designed {
    text-align: center;

    #range {
      margin-bottom:30px;
    }

    img {
      width: 85%;
      padding-top: 60px;
      padding-bottom: 20px;
    }

    p {
      width: 50%;
      margin: 0 auto;
    }

    h2 a {
      @include font-size(18px);
    }

    #model-divider {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  #in-the-box {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $tz-background-alt;

    p {
      @include font-size(14px);
    }

    .row {
      overflow: hidden;
      max-height: 300px;
      margin-top: 30px;

      .columns {
        text-align: center;
      }
    }

    #unlosable {
      width: 40%;
    }

    #charge {
      width: 60%;
    }

    #cloth {
      width: 50%;
    }

  }

  #specifications {
    padding-top: 40px;
    padding-bottom: 40px;

    article {
      margin-top: 20px;

      h2 {
        @include font-size(24px);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      ul {
        margin-left: 15px;
        list-style: disc;
      }

      p {
        padding-bottom: 10px;
      }

      li, p {
          @include font-size(14px);
          line-height: 200%;
      }
    }
  }

  #cta {
    text-align: center;
  }

  // for tablets and smaller
  @media only screen and (max-width: $tabletPortrait) {
      #designed {
        p {
          width: 100%;
        }
      }

      #in-the-box {
        .row .four {
          width: 33%;
        }
      }

      #balancing-act {
        img {
          width: 90%;
        }

        p {
          width: 100%;
        }
      }
  }

  // for smartphones and smaller
  @media only screen and (max-width: $smartphone) {
      #designed {
        #ive {
          margin-bottom: 50px;
        }
      }
  }
}
