html.design {
    #whichpair {
        padding-top: 160px;

        h1 {
            text-align: center;
        }

        p {
            max-width: 650px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    #sizes {
        p {
            width: 400px;
        }

        .share {
            position: absolute;
            left: 160px;
            bottom: -70px;
        }
    }

    #colours {
        padding-bottom: 0px;

        h1 {
            text-align: center;
        }

        p {
            max-width: 650px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    #two-up {
        padding-top: 0px;
        height: 450px;
    }
}
