html.faq, html.legal {
    color: #333;

    body {
        overflow: auto;
    }

    #static-content {
        width: 800px;
        margin: 150px auto 0px auto;

        h1 {
            text-align: center;
            text-transform: none;
            font-size: 40px;
            letter-spacing: 0px;
            margin-bottom: 40px;
            margin-top: 120px;
            font-family: HelveticaNeueLT-Thin, Helvetica, sans-serif;
        }

        h2 {
            font-family: HelveticaNeueLT-Roman, Helvetica, sans-serif;
            margin-bottom: 10px;
            margin-top: 44px;
        }

        p {
            color: #333;
            font-size: 16px;
            font-family: HelveticaNeueLTStd-Lt, Helvetica, sans-serif;
            margin-bottom: 24px;
            line-height: 24px;
            text-align: justify;

            &:last-child {
                padding-bottom: 60px;
            }
        }
    }
}

html.legal #static-content h1:first-child {
    margin-top: 0px;
}


$faq-nav-width: 210px;
$body-flow-offset: 120px;
$body-header-offset: 150px;

html.faq, html.legal {
    width: auto;
    height: auto;
    overflow: visible;

    body {
        width: auto;
        height: auto;
        overflow: visible;
        position: relative;
        top: -$body-flow-offset;
    }
}

html.legal body {
    top: 0px;
}

html.faq #static-content {
    margin-top: 0px;
    position: relative;
    width: 960px;

    > h1 {
        padding-left: $faq-nav-width;
        text-align: left;
        padding-top: 150px;
    }

    > nav {
        width: $faq-nav-width;
        position: fixed;
        left: 50%;
        margin-left: -480px;
        top: 150px;
        z-index: 100;

        h1 {
            text-align: left;
            margin-top: 0px;
        }

        a {
            text-transform: lowercase;
            display: block;
            color: #999;
            color: #8EA8D6;
            font-size: 26px;
            margin-bottom: 22px;
            font-family: HelveticaNeueLT-Thin, Helvetica, sans-serif;
        }

        a:hover {
          color: #7286AB;
        }
    }

    section {
        padding-left: $faq-nav-width;
        width: auto;

        h1 {
            color: #333;
            font-size: 40px;
            cursor: pointer;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 10px;
            padding-top: 150px;
            font-family: HelveticaNeueLT-Thin, Helvetica, sans-serif;
            text-transform: lowercase;
        }

        &#general h1 {
            padding-top: $body-flow-offset + $body-header-offset;
        }

        h2 {
            text-align: left;
            font-size: 24px;
            font-family: HelveticaNeueLTStd-Lt, Helvetica, sans-serif;
            margin-bottom: 9px;
        }

        p {
            color: #777;
        }

        > div {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}
