html.gallery {
    #share-panel {
        div a {
            color: #333;
        }
    }

    article {
        padding-top: 0px;
        padding-bottom: 20px;
        width: 100%;

        img {
          width: 100%;
        }

        &:last-child {
            padding-top: 100px;
        }
    }
}
