@import "tzukuri/variables";
@import "tzukuri/mixins";

body.index {

    h1 {
      margin-bottom: 20px;
      line-height: 140%;
      width: 90%;
    }

    button {
      i {
        margin-left: 10px;
      }
    }

    #store {
      background:  image-url('other/old-clare.jpg') no-repeat center center;
      background-size: cover;

      .container .row {
        padding: 30px;
        background: rgba(255, 255, 255, 0.95);

        // if the browser supports -webkit-backdrop-filter
        @supports (-webkit-backdrop-filter: blur(10px)) {
          -webkit-backdrop-filter: blur(10px);
        }
      }

      a {
        text-decoration: underline;
      }
    }

    #hero {
      @include transition(opacity 2s ease-in-out);

      &.hidden {
          opacity: 0;
      }

      #hero-image {
          img {
              width: 100%;
              display: block;
              margin: auto;
              margin-bottom: 30px;
          }
      }

      #hero-content {
          margin-top: 13%;

          h1 {
            margin-bottom: 0px;
          }

          h2 {
            line-height: 150%;
          }
      }

      .subhead {
        padding-right: 80px;
        line-height: 150%;
      }
    }
}

// tablet
@media only screen and (max-width: $tabletPortrait) {
  body.index {
    #hero {
      #hero-content {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: $smartphone) {
  body.index {
    #hero-image {
      margin-top: 20px;
    }

    #store #address {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
}
