body.index {
    padding-bottom: 20px;

    #hero {
        @include transition(opacity 2s ease-in-out);

        // min-height: 90vh;
        margin-top: 30px;

        &.hidden {
            opacity: 0;
        }

        #hero-image {
            img {
                width: 100%;
                display: block;
                margin: auto;
            }
        }

        #hero-content {
            margin-top: 15%;
        }
    }

    #scroll-indicator {
        @include transition(opacity 2s ease-in-out);

        position: fixed;
        bottom: 20px;
        margin-left: 50%;
        opacity: 0.3;

        &.hidden {
            @include transition(opacity 0.3s ease-in-out);

            opacity: 0;
        }

        i {
            color: $tz-content;
        }
    }

    #bluetooth {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $tz-background-alt;

        img {
            width: 20%;
        }

        p {
            width: 60%;
            padding-bottom: 0px;
        }
    }

    #design {
        padding-top: 50px;
        padding-bottom: 50px;

        .row {
            text-align: center;
        }

        #sun-row {}

        #optical-row {
            padding-top: 40px;
        }

        #design-content {
            p {
                width: 50%;
                margin: 0 auto;
            }
        }

        .frame-container {
            img {
                width: 90%;
                display: block;
                margin: auto;
                padding-bottom: 30px;
            }

            .design-title {
                @include font-size(16px);

                margin-bottom: 5px;
            }

            .design-detail {
                @include font-size(12px);

                padding-bottom: 0px;
            }
        }
    }

    #app {
        background-color: $tz-background-alt;

        #feature-container {
            margin-top: 20%;
        }

        .app-screenshot {
            padding-top: 30px;
            width: 100%;
            display: block;
            margin: auto;
        }

        .one {
            margin-top: 30%;
        }

        #app-nav {
            padding-bottom: 40px;
            text-align: center;

            i {
                @include transition(opacity 2.5s ease-in-out);

                color: $tz-content;
                opacity: 0.3;
                margin-left: 10px;

                &.current {
                    opacity: 1;
                }
            }
        }
    }

    #craft {
        margin-top: 40px;

        .content {
            margin-top: 10%;
        }
    }

    #lenses {
        .content {
            margin-top: 5%;
        }
    }

    #personal-fitting {
        #pf-content {}

        img {
            display: block;
            margin: auto;
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 720px) {
    body.index {
        .index-panel {
            margin-bottom: 20px;
        }

        #hero {
            button {
                width: 70%;
            }

            #hero-image img {
                width: 55%;
            }

            #hero-content {
                margin-top: 5%;
            }
        }

        #scroll-indicator {
            display: none;
        }

        #bluetooth {
            p {
                width: 100%;
            }

            img {
                width: 40%;
            }
        }

        #design {
            .two {
                display: none;
            }

            .frame-container {
                img {
                    width: 70%;
                }
            }

            #design-content {
                margin-bottom: 30px;
                margin-top: 20px;

                p {
                    width: 100%;
                }
            }
        }

        #app {
            padding-bottom: 40px;
            padding-top: 10px;

            .one {
                margin-top: 0px;

                i {
                    display: none;
                }
            }

            #feature-container {
                margin-top: 0px;
            }

            #screenshot-container {
                padding-bottom: 20px;

                img {
                    width: 60%;
                }
            }

            #app-nav {
                display: none;
            }
        }

        #craft {
            margin-bottom: 40px;
        }

        #lenses {
            margin-bottom: 40px;
        }

        #person-fitting {}
    }
}

