@import "tzukuri/variables";
@import "tzukuri/mixins";

body.index {
    h1 {
      margin-bottom: 20px;
      line-height: 140%;
      width: 90%;
    }

    button {
      i {
        margin-left: 10px;
      }
    }

    #store {
      a {
        text-decoration: underline;
      }
    }

    #hero {
      @include transition(opacity 2s ease-in-out);

      &.hidden {
          opacity: 0;
      }

      #hero-image {
          img {
              width: 100%;
              display: block;
              margin: auto;
          }
      }

      #hero-content {
          margin-top: 13%;

          h1 {
            margin-bottom: 0px;
          }

          h2 {
            line-height: 150%;
          }
      }

      .subhead {
        padding-right: 80px;
        line-height: 150%;
      }
    }
}

// tablet
@media only screen and (max-width: $tabletPortrait) {
  body.index {
    #hero {
      #hero-content {
        margin-top: 0;
      }
    }
  }
}
