@import "tzukuri/variables";
@import "tzukuri/mixins";

.header .photo {
  background-image: image-url('headers/story.jpg');
  background-position: center center;
}

#responsibility {
  text-align: center;

  h1, h2, p {
    color: white;
  }

  background-image: url('/assets/responsibility-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#new-craft {
  h1 {
    margin-top: 25%;
  }
}

#process-highlights {

  margin-top: 10px;

  .feature {
    margin: 0 auto;
    width: 85px;
    height: 85px;
    margin-bottom: 20px;

    .circle {
      box-sizing: border-box;
      border: 2px solid $tz-active;
      color: $tz-active;
      border-radius: 50%;
      width: 85px;
      height: 85px;
      text-align:center;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .highlight {
    text-align: center;
  }
}

#materials {
  background-color: $tz-background-alt;
  text-align: center;

  h1, p {
    color: white;
  }

  .desc {
    width: 50%;
    margin: 0 auto;
  }

  img {
    &#cellulose-acetate {
      width: 20%;
    }

    &#digilycol-carbonate {
      width: 20%;
    }

    &#silver-oxide {
      width: 12%;
    }

    margin-top: 50px;
    margin-bottom: 50px;
  }

}

#app-science {
  text-align: center;

  p {
    width: 50%;
    margin: 0 auto;
  }

  img {
    margin-top: 30px;
    width: 15%;
  }
}

#cta {
  text-align: center;
}

@media only screen and (max-width: $tabletPortrait) {
  body.intelligently-made {
    #new-craft {
      h1 {
        margin-top: 0;
      }
      p {
        margin-bottom: 20px;
      }
    }

    #materials {

      .desc {
        width: 100%;
      }

      img {
        &#cellulose-acetate {
          width: 25%;
        }

        &#digilycol-carbonate {
          width: 30%;
        }

        &#silver-oxide {
          width: 20%;
        }
      }
    }

    #app-science {
      p {
        width: 100%;
      }

      img {
        width: 20%;
      }
    }
  }
}


@media only screen and (max-width: $smartphone) {
  body.intelligently-made {

    #app-science {
      img {
        width: 30%;
      }
    }

    #materials {

      .desc {
        width: 100%;
      }

      img {
        &#cellulose-acetate {
          width: 45%;
        }

        &#digilycol-carbonate {
          width: 50%;
        }

        &#silver-oxide {
          width: 30%;
        }
      }
    }

  }
}
