body.privacy {
    #policy-container {
        &.policy-gap {
            margin-top: 175px;
        }

        ul {
            padding-left: 1rem;

            li {
                list-style: disc;
            }
        }

        h1 {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }

    #policy-changed {
        background-color: #F5F5F5;
        opacity: 0.95;
        text-align: center;
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
        position: fixed;
        top: 0;

        p {
            text-align: center;
        }

        #accept-privacy {
            background-color: #5AA4E8;
            color: white;
        }
    }
}
