@import "tzukuri/variables";
@import "tzukuri/mixins";

body.retail {
  .header .photo {
    background-image: image-url('headers/retail.jpg');
  }

  #retail-head {
    text-align: center;
  }

  .details-centre {
    #address, #hours {
      display: inline-block;
      vertical-align: top;

      p {
        padding-bottom: 0px;
        color: #333;

        &:first-child {
          margin-bottom: 10px;
        }
      }
    }

    #hours {
      margin-left: 80px;
    }
  }

  iframe {
    width: 100%;
    margin-top: 50px;
    height: 500px;
  }
}

@media only screen and (max-width: $tabletPortrait) {
  body.retail .details-centre {
    #hours {
      display: block;
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: $smartphone) {
  body.retail .details-centre {
    #hours {
      display: block;
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}
