body.team {
  p {
    line-height:100%;
  }

  h1 {
    text-align: center;
    line-height: 300%
  }

  .blurb {
    width:60%;
    margin: 0 auto;
    text-align: center;
    line-height: 180%;
  }
}
