@import "tzukuri/variables";
@import "tzukuri/mixins";

body.the-range {
  .container {
    position: static;
  }

  .hero {
    height: 1000px;
    margin-bottom: 60px;

    .bg {
      height: 1000px;
    }

    .photo {
      background-image: image-url('range/header.jpg');
    }

    .content {
      position: relative;

      h1 {
        padding-top: 180px;
      }

      p {
        padding-top: 60px;
      }
    }

    .details {
      background-color: rgba(255,255,255,0.85);
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -255px;
      text-align: center;
      p {
        color: #555;
      }
    }
  }

  #designed {
    padding-top: 0px;
    text-align: center;


    #range {
      margin-bottom:30px;


      .frame-head {
        margin-bottom: 20px;
      }

      .frame-spec {
        margin-bottom: 40px;
      }

      .model-detail {

        &.top {
          margin-bottom: 80px;
        }

        .spec {
          @include font-size(14px)
        }

      }
    }

    #designers {
      img + h1 {
        margin-bottom: 15px;
      }

      #designers-description p {
        width: 100%;
        line-height: 200%;
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    #beautifully-light {
      text-align: center;
      margin: 40px 0px 0px 0px;
      padding-top: 40px;
      padding-bottom: 80px;
      position: relative;

      .photo {
        background-image: image-url('range/tech.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 100%;
      }

      .content {
        position: relative;
      }

      h1 {
        font-size: 2.1rem;
        margin-top: 40px;
        text-align: right;
        color: #444;
      }

      h2 {
        font-size: 1.3rem;
        text-align: right;
        color: #444;
      }

      .seven.columns {
        text-align: right;

        > div {
          max-width: 420px;
          background-color: rgba(255,255,255,0.85);
          border-radius: 5px;
          padding: 40px 50px;
          text-align: left;
          display: inline-block;

          h3 {
            font-size: 1.4rem;
          }

          p {
            width: auto;
            margin: 10px 0px 0px 0px;
            font-size: 1.2rem;
            font-weight: 300;
          }

          p:last-child {
            padding-bottom: 0px;
          }

          p + h3 {
            margin-top: 40px;
          }
        }
      }

      img {
        width: 65%;
        padding-top: 15px;
      }
    }

    #visual-indulgence {
      background:  image-url('range/visual.jpg') no-repeat center center;
      background-size: cover;
      padding: 100px 0px;
      margin-bottom: 80px;

      h1 {
        font-size: 2.1rem;
        color: #333;
        text-align: left;
      }

      h2 {
        font-size: 1.3rem;
        color: #333;
        text-align: left;
      }

      p, ul li {
        color: #333;
        text-align: left;
        padding-left: 0px;
        font-size: 1.2rem;
        font-weight: 300;
      }

      p {
        width: 75%;
        margin: 0px;
      }

      ul li {
        list-style: disc;
        line-height: 200%;
      }

      ul {
        padding-left: 20px;
      }
    }

    #all-prescription {
      margin-top: 70px;
      p {
        @include font-size(14px);
        width: 40%;
      }
    }

    img {
      width: 85%;
      // padding-top: 60px;
      padding-bottom: 20px;
    }

    p {
      width: 50%;
      margin: 0 auto;

      em {
        font-weight: bold;
      }
    }

    h2 a {
      @include font-size(18px);
    }

    #model-divider {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  // for tablets and smaller
  @media only screen and (max-width: $tabletPortrait) {
    #designers {
      .row {
        .columns {
          width: 100%;
          float: none;
          margin-left: 0px;
        }
      }

      img {
        width: 50%;
      }

      a button {
        width: 50%;
      }

      #designers-description p {
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 150% !important;
        width: 75% !important;
      }
    }

      #designed {
        p {
          width: 100%;
        }
      }

      #in-the-box {
        .row .four {
          width: 33%;
        }
      }

      #balancing-act {
        img {
          width: 90%;
        }

        p {
          width: 100%;
        }
      }
  }

  // for smartphones and smaller
  @media only screen and (max-width: $smartphone) {
    .action-bar {
      width: 300px;
      margin-left: -150px;
    }

      #designed {
        #ive {
          margin-bottom: 50px;
        }
      }
  }
}
