@import "tzukuri/variables";
@import "tzukuri/mixins";

body.the-range {
  #designed {
    padding-top: 0px;
    text-align: center;

    .header .photo {
      background-image: image-url('headers/range.jpg');
    }

    #range {
      margin-bottom:30px;


      .frame-head {
        margin-bottom: 20px;
      }

      .frame-spec {
        margin-bottom: 40px;
      }

      .model-detail {

        &.top {
          margin-bottom: 80px;
        }

        .spec {
          @include font-size(14px)
        }

      }
    }

    #designers {
      margin-top: 80px;

      img + h1 {
        margin-bottom: 15px;
      }

      #designers-description p {
        width: 100%;
        line-height: 200%;
      }
    }

    #beautifully-light {
      text-align: center;

      .seven.columns {
        text-align: center;

        > div {
          max-width: 400px;
          text-align: left;
          display: inline-block;
          padding-top: 20px;

          p {
            width: auto;
            margin: 10px 0px 0px 0px;
          }

          p + h3 {
            margin-top: 40px;
          }
        }
      }

      img {
        width: 65%;
        padding-top: 15px;
      }
    }

    #all-prescription {
      margin-top: 70px;
      p {
        @include font-size(14px);
      }
    }

    img {
      width: 85%;
      // padding-top: 60px;
      padding-bottom: 20px;
    }

    p {
      width: 50%;
      margin: 0 auto;

      em {
        font-weight: bold;
      }
    }

    h2 a {
      @include font-size(18px);
    }

    #model-divider {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  #in-the-box {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $tz-background-alt;

    p {
      @include font-size(14px);
    }

    .row {
      overflow: hidden;
      max-height: 300px;
      margin-top: 30px;

      .columns {
        text-align: center;
      }
    }

    img {
      max-height: 395px;
      width: 40%;
    }

    /*#unlosable {
      width: 40%;
    }

    #charge {
      width: 60%;
    }

    #cloth {
      width: 50%;
    }*/

  }

  #specifications {
    padding-top: 40px;
    padding-bottom: 40px;

    article {
      margin-top: 20px;

      h2 {
        @include font-size(24px);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      ul {
        margin-left: 15px;
        list-style: disc;
      }

      p {
        padding-bottom: 10px;
      }

      li, p {
          @include font-size(14px);
          line-height: 200%;
      }
    }
  }

  // for tablets and smaller
  @media only screen and (max-width: $tabletPortrait) {
    #designers {
      .row {
        .columns {
          width: 100%;
          float: none;
          margin-left: 0px;
        }
      }

      img {
        width: 50%;
      }

      a button {
        width: 50%;
      }

      #designers-description p {
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 150% !important;
        width: 75% !important;
      }
    }

      #designed {
        p {
          width: 100%;
        }
      }

      #in-the-box {
        .row .four {
          width: 33%;
        }
      }

      #balancing-act {
        img {
          width: 90%;
        }

        p {
          width: 100%;
        }
      }
  }

  // for smartphones and smaller
  @media only screen and (max-width: $smartphone) {
    .action-bar {
      width: 300px;
      margin-left: -150px;
    }

      #designed {
        #ive {
          margin-bottom: 50px;
        }
      }
  }
}
