@import "tzukuri/variables";
@import "tzukuri/mixins";

body.try-them-on {

  #try-on {
    h1 {
      margin-top: 5%;
    }
  }

  #book-now {
    text-align: center;


    h1 {
      padding-bottom: 40px;
    }

    button {
      margin-bottom: 0px;
    }

    form {
      width: 60%;
      margin: 0 auto;
    }

    #gate {}
    #calendly, #coming-soon {
      display: none;
    }

    #coming-soon {

      h1 {
        padding-bottom: 20px;
      }

      p {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  #faq {
    h1 {
      padding-bottom: 40px;
    }

    h3 {
      padding-bottom: 20px;
    }
  }
}

@media only screen and (max-width: $tabletPortrait) {
  body.try-them-on {

    #try-on {
      h1 {
        margin-top: 0;
      }
      p {
        margin-bottom: 30px;
      }
    }

    #gate {
      form {
        width: 100%;
      }
    }
  }
}
