@import "tzukuri/variables";
@import "tzukuri/mixins";

body.unlosable-glasses {
  #the-range {
    img {
      width: 90%;
      margin-top: 50px;
    }

    p {
      width: 50%;
      margin: 0 auto;
    }

    .left-row, .right-row {
      text-align: center;
    }

    .row {
      text-align: center;
    }

    #frames {
      margin-bottom: 40px
    }

    #cta {
      p em {
        font-weight: bold;
      }

      p + p {
        margin-top: 10px;
      }
    }
  }

  #timely-intelligence {
    text-align: center;

    h2 + p {
      width: 50%;
      margin: 0 auto 40px auto;
    }

    #remember {
      img {
        margin-top: 50px;
        width: 90%;
        margin-bottom: 30px;
      }
    }

    #notification {
      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    #distancing {
      img {
        margin-top: 50px;
        width: 90%;
        margin-bottom: 30px;
      }
    }

    #app-store {
      margin-top: 20px;

      img {
        width: 18%;
      }
    }
  }

  #beautifully-light {
    p {
      max-width: 500px;
      padding-bottom: 40px;
      text-align: left;
    }

    h3 {
      margin-bottom: 5px;
      text-align: left;
    }

    .row {
      margin-top: 15px;
    }
  }

  #battery-tech {
    .row {
      margin-top: 15px;
    }

    .row p {
      max-width: 500px;
      padding-left: 100px;

      em {
        font-weight: bold;
      }
    }
  }

  #visual-indulgence {
    background:  image-url('glasses/lens-layout.png') no-repeat center center;
    background-size: cover;

    p, ul li {
      color: $tz-title;
    }

    ul li {
      list-style: disc;
      line-height: 200%;
    }

    ul {
      padding-left: 20px;
    }
  }

  #balancing-act {
    text-align: center;

    img {
      width: 75%;
    }

    p {
      padding-top: 20px;
      width: 50%;
      margin: 0 auto;
    }
  }

  #little-things {
    text-align: center;

    img {
      width: 33%;
    }
  }

  #cta {
    text-align: center;
  }

  // for tablets and smaller
  @media only screen and (max-width: $tabletPortrait) {
    #the-range {
      p {
        width: 90%;
      }
    }

    #timely-intelligence {
      img {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
      }

      #app-store {
        img {
          width: 25% !important;
        }
      }
    }

    #beautifully-light {
      p {
        width: 100%;
      }

      img {
        width: 60%;
      }
    }

    #visual-indulgence {
      min-height: 0px;
    }

    #balancing-act {
      img {
        width: 90%;
      }

      p {
        width: 100%;
      }
    }
  }

  // for smartphones and smaller
  @media only screen and (max-width: $smartphone) {
    #the-range {
      h1 {
        width: 80%;
        margin: 0 auto;
      }
    }

    #timely-intelligence {
      padding-bottom: 0px;

      img {
        width: 50% !important;
      }

      #app-store {
        img {
          width: 40% !important;
        }
      }
    }

    #battery-tech {
      .row p {
        padding-left: 0px;
      }
    }

    #little-things {
      padding-bottom: 0px;

      img {
        width: 15%;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}
