@import "tzukuri/variables";
@import "tzukuri/mixins";

body.unlosable-glasses {

  #balancing-act {
    text-align: center;

    img {
      width: 75%;
    }

    p {
      padding-top: 20px;
      width: 50%;
      margin: 0 auto;
    }
  }

  #bluetooth {
    h1 {
      margin-top: 10%;
    }
    img {
      width: 80%;
    }
  }

  #the-range {
    img {
      width: 90%;
      margin-top: 50px;
    }

    p {
      width: 50%;
      margin: 0 auto;
    }

    .left-row, .right-row {
      text-align: center;
    }

    .row {
      text-align: center;
    }
  }

  #most-useful {
    text-align: center;
    img {
      // width: 40%;
    }
  }

  #timely-intelligence {
    text-align: center;

    #remember {
      img {
        margin-top: 50px;
        width: 90%;
        margin-bottom: 30px;
      }
    }

    #notification {
      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    #distancing {
      img {
        margin-top: 50px;
        width: 90%;
        margin-bottom: 30px;
      }
    }

  }

  #interesting-info {
    h3, i, p {
      color: white;
    }

    h3, img {
      margin-bottom: 20px;
    }

    img {
      width: 4%;
    }
  }

  #beautifully-light {
    text-align: center;

    img {
      width: 50%;
    }

    p {
      width: 55%;
      margin: 0 auto;
      padding-bottom: 60px;
    }
  }

  #visual-indulgence {
    background:  image-url('glasses/lens-layout.png') no-repeat center center;
    background-size: cover;

    p, ul li {
      color: $tz-title;
    }

    ul li {
      list-style: disc;
      line-height: 200%;
    }

    ul {
      padding-left: 20px;
    }
  }

  #little-things {
    text-align: center;

    img {
      width: 33%;
    }
  }

  #lt-divider {
    hr {
      margin-top: 0px;
    }
  }

  #app-store {
    margin-top: 20px;

    img {
      width: 15%;
    }
  }

  #cta {
    text-align: center;
  }
}

@media only screen and (max-width: $tabletPortrait) {
  body.unlosable-glasses {
    #most-useful {
      img {
        width: 80%;
      }
    }

    #balancing-act {
      img {
        width: 90%;
      }

      p {
        width: 100%;
      }
    }

    #timely-intelligence {
      img {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
      }
    }

    #beautifully-light {
      p {
        width: 100%;
      }

      img {
        width: 80%;
      }
    }

    #app-store {
      img {
        width: 30% !important;
      }
    }

    #interesting-info {
      img {
        width: 10%;
      }
    }

    #visual-indulgence {
      min-height: 0px;
    }

  }
}

@media only screen and (max-width: $smartphone) {
  body.unlosable-glasses {

    #timely-intelligence {
      img {
        width: 50% !important;
      }
    }

    #little-things {
      img {
        width: 15%;
      }

      p {
        margin-bottom: 40px;
      }
    }
  }
}
