body.passwords {
    #login-container form {
        #user_password {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #user_password_confirmation {
            border-top: none;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}
