<div  id="order_details" data-hook>
  <div>
    <!-- <h2><%= Spree.t(:confirm) %></h2> -->
    <h2>Order Confirmation</h2>
  </div>
  <div class="panel-body">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">


  <%= button_tag(type: 'submit') do %>
   <i class="fa fa-lock" style="margin-right: 20px; margin-left:0px;"></i>Place order
  <% end %>

  <script>Spree.disableSaveOnClick();</script>
</div>
