<!-- beta dashboard modal -->
<div id="beta-modal" class="modal-dialog light hidden">
    <h1>T Z U K U R I <span class="blue">[beta]</span></h1>
    <br/>
    <p>
        Welcome to the Tzukuri beta dashboard. <span class='bold'>100 users will be selected July 28th to test our glasses for a 6 week period</span>. We’re looking for the most passionate and engaged users to help us test and refine the product, which is why we’ve devised a points system for selection. There are three ways to get more points:</p>
        <br/>
        <ol>
            <li><span class="bold">Invite your friends +<%= Tzukuri::INVITEE_POINTS %> points.</span> We want to give glasses to people who know each other so you can share your experiences.</li>
            <li><span class="bold">Connect social media +<%= Tzukuri::IDENTITY_POINTS %> points.</span> This helps us learn more about our market.</li>
            <li><span class="bold">Answer our survey questions +<%= Tzukuri::RESPONSE_POINTS %> points.</span> This lets us understand how glasses fit into your life.</li>
        </ol>
        <br/>
        <p>If you have any questions, please check out our <a href="/faq#beta" target="_blank">FAQ</a> or send an email to <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a></p>
        <br/>
        <center><button id="beta-modal-done">done</button></center>
        <div style="height: 10px"></div>
    </div>
