<!-- beta eligible modal -->
<div id="beta-eligible-modal" class="modal-dialog light hidden">
    <h1>Tzukuri Beta Eligiblity</h1>
    <p>If you are selected for the beta, we will send you weekly emails checking up on how the glasses are going and whether you are having any issues with them.</p>
    <br/>
    <p>You need the following to be eligible:</p>
    <ul>
        <li>iPhone 5 or later</li>
        <li>iOS 9 or later</li>
        <li>Australian Resident</li>
        <li>18 years or over</li>
    </ul>
    <br/><br/>
    <center><button id="beta-eligible-done">done</button></center>
</div>
