body.beta {
    // common form style
    form {
        // input styles
        input {
            // no blue outline on form fields
            &:focus {
                outline-width: 0;
            }

            &.error {
                border: 1px solid $tzukuri-red;
            }

            &#submit-btn {
                border-radius: 20px;
                border: 1px solid $tzukuri-blue;
                color: $tzukuri-blue;
                background-color: white;
                padding: 15px;
                width: 100px !important;
                margin-bottom: 20px;

                @include transition(0.5s);

                &.disabled {
                    color: $tzukuri-light-grey;
                    border-color: $tzukuri-light-grey;
                    cursor: auto;

                    &:hover {
                        color: $tzukuri-light-grey;
                        border-color: $tzukuri-light-grey;
                        background-color: white;
                    }
                }

                &:hover {
                    color: white;
                    background-color: $tzukuri-blue;
                }
            }

            background-color: $tzukuri-light-grey;
            border: 1px solid $tzukuri-light-grey;
            border-radius: 10px;
            margin-bottom: 15px;
            width: 70%;
            cursor: pointer;
            -webkit-appearance: none;
        }

        #error-messages {
            color: $tzukuri-red;
            font-size: 11pt;
            padding-top: 10px;
        }
    }

    // ----------------------
    // beta ordering styles
    // ----------------------
    #beta-index #selected-container {
        // main container styles
        .step-container {
            margin-top: 5vh;
            height: 100%;
            text-align: center;

            &.hidden {
                display: none;
            }

            .checkout-img {
                width: 95%;
                margin-left: auto;
                margin-right: auto;

                &.hidden {
                    display: none;
                }
            }

            .selected-header {
                margin-bottom: 40px;
                text-align: center;

                h2 {
                    font-size: 30pt;
                    color: $tzukuri-black;
                    font-weight: 200;
                    line-height: 150%;
                }
            }

            .order-btn {
                border-radius: 5px;
                background-color: none;
                font-size: 12pt;
                height: auto;
                padding: 5px 35px 5px 35px;
                text-transform: none;

                &.prev {
                    border: none;
                    font-size: 11pt;
                }

                &.finish {
                    color: #39CA74;
                    border: 1px solid #39CA74;

                    &:hover {
                        color: #fff;
                        background-color: #39CA74;
                    }
                }
            }

            .glasses-details {
                text-align: left;

                dl {
                    margin-bottom: 20px;
                    margin-left: 70px;

                    dt, dd {
                        display: inline-block;
                        margin-bottom: 8px;
                        font-size: 10pt;
                    }

                    dt {
                        text-transform: uppercase;
                        font-weight: 600;
                        text-align: right;
                    }

                    dd {
                        text-transform: capitalize;
                    }
                }
            }
        }

        // 0 - introduction
        #step-intro {
            h2 {
                font-size: 34pt;
                font-weight: 200;
                line-height: 180%;
            }

            p {
                margin-top: 40px;
                font-weight: 300;
                font-size: 12pt;
                margin-bottom: 40px;
                line-height: 200%;
            }
        }

        #step-accept {
            #expectations {
                text-align: left;
                margin-top: 40px;

                ul {
                    margin-left: 20px;
                    list-style-type: disc;
                    line-height: 200%;
                    font-weight: 300;
                    font-size: 12pt;
                }

                p {
                    margin-bottom: 10px;
                    line-height: 200%;
                    font-weight: 500;
                    font-size: 14pt;
                }
            }

            #delivery {
                text-align: left;
                margin-top: 40px;
                font-weight: 200;
                font-size: 12pt;

                p {
                    line-height: 200%;
                }
            }

            button {
                margin-top: 40px;
            }
        }

        // 1 - select frames
        #step-frames {
            .select-frame {
                .frame-img {
                    margin-top: -50px;
                    width: 90%;
                }

                .order-btn {
                    width: 50%;
                }
            }
        }

        // 2 - select frame size
        #step-size {
            .size-exp {
                font-size: 11pt;
                color: $tzukuri-dark-grey;
                margin-top: 20px;
                margin-bottom: 40px;
                font-weight: 300;
            }

            #small, #large {
                width: 40%;
            }
        }

        // 3 - enter shipping details
        #step-details {
            .step-content {
                margin-bottom: 40px;
            }

            #shipping {
                form input {
                    width: 90%;
                }

                #state {
                    background: none;
                    width: 95%;
                    height: 40px;
                    margin-bottom: 10px;
                    -webkit-appearance: none;
                    border: none;
                    border-radius: 10px;
                    background-color: $tzukuri-light-grey;
                    padding-left: 10px;
                    font-size: 12pt;
                }

                #error-messages {
                    color: $tzukuri-red;
                    font-size: 10pt;
                    padding-bottom: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                .loading-spinner {
                    background: url("/images/loading_spinner.svg") no-repeat;
                    background-position: 50% 12px;
                    height: 40px;
                    display: none;
                }
            }
        }

        // 4 - select a shipping method
        #step-shipping-method {
            .select-shipping .order-btn {
                width: 40%;
            }

            .method-exp {
                font-size: 11pt;
                color: $tzukuri-dark-grey;
                margin-top: 20px;
                margin-bottom: 40px;
                font-weight: 300;
            }
        }

        // 5 - select a timeslot
        #step-timeslot {
            p {
                color: $tzukuri-dark-grey;
                font-size: 11pt;

                #meet-address, #meet-time {
                    font-weight: 500;
                }
            }

            .step-content {
                margin-bottom: 40px;
                margin-top: 40px;
            }

            #timeslot-continue {
                padding-top: 7px;
                padding-bottom: 7px;
            }

            #timeslot-day, .timeslot-time {
                -webkit-appearance: none;
                font-size: 12pt;
                padding: 10px 50px 10px 50px;
                border: 1px solid $tzukuri-blue;
                color: $tzukuri-blue;

                @include transition(0.5s);

                &:hover {
                    color: white;
                    background-color: $tzukuri-blue;
                }
            }
        }

        // 6 - enter payment information
        #step-payment {
            .checkout-img {
                width: 50%;
            }

            .glasses-details {
                dl {
                    text-align: center;
                    margin-left: 0px;
                }
            }

            #place-order {
                margin-top: 20px;
            }

            #conf-ive-black, #conf-ford-black {
                margin-top: -80px;
            }

            dl {
                margin-left: 220px;
            }

            input[type=text], input[type=email] {
                @include box-sizing(border-box);

                width: 100%;
            }

            #payment-message {
                margin-top: 40px;
            }

            #cc {
                margin-top: 20px;

                select {
                    padding-left: 10px;

                    @include border-radius(5px);

                    background-color: $tzukuri-light-grey;
                    font-size: 12pt;
                    height: 40px;
                    outline: none;
                    border: none;
                    -webkit-appearance: none;
                    border-radius: 10px;
                }
            }
        }
    }

    // ----------------------
    // main view when the beta has concluded
    // ----------------------
    #beta-index #finished-container {
        margin-top: 20vh;
        text-align: center;

        h1 {
            font-size: 32pt;
            font-weight: 200;
        }

        p {
            font-size: 16pt;
            font-weight: 200;
        }
    }

    // ----------------------
    // order submitted container
    // ----------------------
    #beta-index #order-submitted-container {
        text-align: center;
        margin-top: 5vh;

        h2 {
            font-size: 30pt;
            color: $tzukuri-black;
            font-weight: 200;
            line-height: 150%;
        }

        h3 {
            font-size: 16pt;
            font-weight: 300;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            margin-top: 20px;
            line-height: 200%;
        }

        .delivery-detail {
            font-size: 12pt;
            font-weight: 400;
            margin: 0;
        }

        #delivery-calendar {
            i {
                margin-bottom: 10px;
            }
            font-size: 10pt;
            text-decoration: none;
        }
    }

    // old styles
    #beta-index {
        padding-top: 100px;

        p {
            font-size: 12pt;
            line-height: 150%;
            font-weight: 300;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 0px;
            border-top: 1px solid $tzukuri-light-grey;
        }

        // --------------------------------------
        // main view (user hasn't been selected)
        // ---------------------------------------
        #details-container {
            hr {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            #user-detail-row {
                #avatar-col {
                    margin-bottom: 20px;

                    #avatar {
                        max-width: 100px;
                        max-height: 100px;
                        width: 80%;
                        padding-bottom: 80%;
                        background-color: $tzukuri-light-grey;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 110% auto;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                #user-col {
                    #user-title {
                        #user-name {
                            display: inline;
                            font-size: 32pt;
                            font-weight: 200;
                            text-transform: capitalize;
                            vertical-align: middle;
                        }

                        #logout {
                            margin-left: 20px;
                            vertical-align: middle;
                        }

                        margin-bottom: 20px;
                    }

                    #increase-chance {
                        margin-bottom: 20px;
                    }

                    #invite-link-container {
                        background-color: $tzukuri-light-grey;
                        border-radius: 5px;
                        padding: 20px 10px 16px 10px;
                        text-align: center;
                        margin-bottom: 20px;
                        margin-top: 40px;

                        #link {
                            text-align: center;
                            width: 60%;
                            margin-top: 10px;
                            margin-bottom: 15px;
                            background-color: white;
                            color: $tzukuri-blue;
                            border-radius: 10px;
                            padding: 10px 15px 10px 15px;
                            border: 1px solid $tzukuri-light-grey;
                            -webkit-appearance: none;
                            opacity: 1 !important;

                            & + p {
                                font-size: 13px;
                            }
                        }
                    }
                }

                #score-col {
                    text-align: center;

                    #incentive {
                        p {
                            margin: 0px auto;
                            color: $tzukuri-black;
                            line-height: 150%;
                            font-weight: 300;
                            font-size: 14pt !important;
                        }
                    }

                    #remaining-spacer {
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }

                    #days-remain {
                        font-weight: 200;
                        font-size: 42pt;
                        line-height: 42pt;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    #days-remain-sub {
                        font-size: 16pt;
                        font-weight: 200;
                    }

                    #score-container {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        line-height: 120px;
                        border: 2px solid $tzukuri-blue;
                        color: $tzukuri-blue;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;

                        #points-amount {
                            margin-top: 30px;
                            display: block;
                            font-size: 32pt;
                            font-weight: 200;
                        }

                        #points-sub {
                            margin-top: 30px;
                            font-size: 14pt;
                            font-weight: 200;
                        }
                    }
                }
            }

            #connect-social-row {
                #social-exp {
                    margin-bottom: 5px;
                }

                .social-col {
                    margin-top: 10px;

                    .social-icon {
                        text-align: left;
                        color: $tzukuri-blue;
                    }

                    button {
                        border-radius: 10px;
                        width: 80%;
                        font-size: 11pt;
                        padding-top: 0px;
                        padding-bottom: 2px;
                        padding-left: 0px;
                        padding-right: 0px;
                        margin-left: 10px;
                        height: 32px;
                        line-height: 12px;
                        border-color: #B7CAE7;

                        &.connected {
                            background-color: #8EB2F1;
                            border-color: #8EB2F1;
                            color: white;
                            cursor: auto;
                        }
                    }
                }
            }

            #answer-questions-row {
                margin-bottom: 40px;

                #question-header {
                    margin-bottom: 20px;

                    .answer-sub {
                        font-size: 12pt;
                        text-align: right;
                    }

                    #answered {
                        color: $tzukuri-dark-grey;
                    }

                    #skip {
                        color: $tzukuri-blue;
                        cursor: pointer;
                        font-size: 11pt;

                        &.hidden {
                            display: none;
                        }
                    }
                }

                #question-content {
                    margin-top: 20px;

                    #questions-complete {
                        margin-top: 40px;
                        text-align: center;

                        &.hidden {
                            display: none;
                        }
                    }

                    .question {
                        display: none;

                        #question-name {
                            margin-bottom: 20px;
                        }

                        p {
                            color: $tzukuri-black;
                        }

                        form {
                            input {
                                text-align: left;
                                background-color: white;
                                border: none;
                                border-radius: 0px;
                                padding-left: 0px;
                                padding-top: 0px;
                                width: 45%;
                                font-weight: 100;
                                border-bottom: 1px solid #ddd;

                                @include transition(0.5s);

                                &:nth-child(even) {
                                    margin-left: 20px;
                                }

                                &:hover {
                                    color: $tzukuri-blue;
                                    border-bottom-color: $tzukuri-blue;
                                }
                            }
                        }
                    }
                }
            }
        }

        // --------------------------------------
        // login (user is not authenticated)
        // ---------------------------------------
        #login-container {
            text-align: center;
            padding: 10px;

            h1 {
                font-size: 42pt;
                font-weight: 100;
                margin-bottom: 50px;
                line-height: 150%;
            }

            h2 {
                font-size: 12pt;
                font-weight: 300;
                color: $tzukuri-dark-grey;
                margin-bottom: 30px;
                line-height: 150%;
            }

            form {
                input {
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width: 565px) {
    #question-content {
        .question {
            form {
                input {
                    &:nth-child(even) {
                        margin-left: 0px !important;
                    }
                }
            }
        }
    }
}

// skeleton's cutover point is > 550px (inclusive) so
// we want to swap at 549px
@media only screen and (max-width: 549px) {
    #login-container form input {
        width: 90% !important;
    }

    .step-back {
        display: none;
    }

    #invite-friends .invite-container #unique-link {
        width: 90% !important;
    }

    #avatar-col #avatar {
        width: 100px !important;
        height: 100px !important;
        padding-bottom: 0px !important;
    }

    #invite-link-container #link {
        // font-size: 10pt;

    }

    // align social media icons to the left of their
    // connect buttons
    #connect-social-row .nine .row {
        .social-col {
            text-align: center;
        }

        .columns {
            float: none;
            display: inline-block;
            vertical-align: top;
        }

        .social-icon {
            width: 30px;
        }

        // button
        .ten {
            width: 50%;
            text-align: left;
        }
    }

    #question-content .question form input {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #score-col {
        margin-top: 0px !important;
        margin-bottom: 40px !important;
    }

    // beta ordering styles
    body.beta #beta-index #selected-container {
        .step-container {
            margin-top: 0px;

            .order-btn {
                width: 85% !important;
            }

            .glasses-details {
                dl {
                    margin-left: 20px;
                }
            }
        }

        #step-frames {
            .select-frame {
                margin-bottom: 60px;
            }
        }

        #step-size {}

        #step-details {
            #glasses {
                .checkout-img {
                    margin-top: -60px;
                }
            }

            #shipping form {
                input {
                    width: 90%;
                }

                select {
                    width: 96%;
                }
            }
        }

        #step-shipping-method {}

        #step-timeslot {
            #timeslot-day {
                padding-left: 26%;
                width: 85%;
            }

            .timeslot-time {
                padding-left: 32%;
                width: 85%;
                margin-bottom: 20px;
            }
        }

        #step-payment {
            .checkout-img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .social-col button {
        font-size: 10pt !important;
    }

    #link {
        font-size: 10pt !important;
    }

    #skip {
        font-size: 10pt !important;
    }
}

@media only screen and (max-width: 960px) {
    #link {
        width: 85% !important;
    }
}

@media only screen and (max-width: 320px) {
    #login-container h1 {
        font-size: 32pt !important;
    }

    // beta ordering
    body.beta #beta-index #selected-container {
        #step-intro {
            h2 {
                font-size: 30pt;
            }

            p {
                font-size: 12pt;
            }
        }
    }
}
