body.beta {
    // common form style
    form {
        // input styles
        input {
            // no blue outline on form fields
            &:focus {
                outline-width: 0;
            }

            &.error {
                border: 1px solid $tzukuri-red;
            }

            &#submit-btn {
                border-radius: 20px;
                border: 1px solid $tzukuri-blue;
                color: $tzukuri-blue;
                background-color: white;
                padding: 15px;
                width: 100px !important;
                margin-bottom: 20px;

                @include transition(0.5s);

                &.disabled {
                    color: $tzukuri-light-grey;
                    border-color: $tzukuri-light-grey;
                    cursor: auto;

                    &:hover {
                        color: $tzukuri-light-grey;
                        border-color: $tzukuri-light-grey;
                        background-color: white;
                    }
                }

                &:hover {
                    color: white;
                    background-color: $tzukuri-blue;
                }
            }

            background-color: $tzukuri-light-grey;
            border: 1px solid $tzukuri-light-grey;
            border-radius: 10px;
            margin-bottom: 15px;
            width: 70%;
            cursor: pointer;
            -webkit-appearance: none;
        }

        #error-messages {
            color: $tzukuri-red;
            font-size: 11pt;
            padding-top: 10px;
        }
    }

    #beta-index {
        padding-top: 100px;

        #error-messages {
            color: $tzukuri-red;
            font-size: 11pt;
            padding-top: 10px;
        }

        p {
            font-size: 12pt;
            line-height: 150%;
            color: $tzukuri-dark-grey;
            font-weight: 300;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 0px;
            border-top: 1px solid $tzukuri-light-grey;
        }

        // ----------------------
        // order submitted
        // ----------------------
        #order-submitted-container {
            text-align: center;

            h2 {
                margin-bottom: 60px;
                font-size: 36pt;
                color: $tzukuri-black;
                font-weight: 200;
            }

            hr {
                margin-bottom: 20px;
            }

            #next-steps-list {
                text-align: left;

                li {
                    font-weight: 300;
                    list-style-type: circle;
                    margin-bottom: 10px;
                    line-height: 22pt;
                    color: $tzukuri-dark-grey;
                }
            }
        }

        // ----------------------
        // user selected
        // ----------------------
        #selected-container {
            text-align: center;

            #selected-header {
                margin-bottom: 60px;

                h2 {
                    font-size: 36pt;
                    color: $tzukuri-black;
                    font-weight: 200;
                    line-height: 150%;
                }

                p {
                    line-height: 150%;
                }
            }

            #frame-select {
                .columns {
                    border-right: 1px solid $tzukuri-light-grey;
                    min-height: 400px;
                    margin-left: 0px;

                    @include transition(0.5s);

                    &.disabled {
                        opacity: 0.1;
                    }

                    // select design (ford vs. ive)
                    .select-design {
                        cursor: pointer;

                        img {
                            width: 65%;
                        }
                    }

                    // select size (small vs. large)
                    .select-size {
                        border: 1px solid $tzukuri-blue;
                        border-radius: 20px;
                        width: 30%;
                        color: $tzukuri-blue;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 80px;
                        margin-bottom: 20px;
                        padding: 10px;
                        cursor: pointer;

                        @include transition(0.5s);

                        &:hover {
                            background: $tzukuri-blue;
                            color: white;
                        }
                    }

                    .size-exp {
                        font-size: 10pt;
                    }

                    // select colour (black vs. tortoise)
                    .select-colour {
                        padding: 5px;
                        border-radius: 15px;
                        width: 50%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 40px;
                        cursor: pointer;

                        @include transition(0.5s);

                        &.active {
                            color: white;
                            background-color: $tzukuri-dark-grey;
                        }

                        .circle {
                            width: 60px;
                            height: 60px;
                            border-radius: 30px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            margin-left: auto;
                            margin-right: auto;

                            &.tort {
                                background-color: brown;
                            }

                            &.black {
                                background-color: $tzukuri-black;
                            }
                        }
                    }
                }
            }

            #order-details {
                &.hidden {
                    display: none;
                }

                .checkout-img {
                    width: 95%;
                    margin-top: -100px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .checkout-img.hidden {
                    display: none;
                }

                #glasses-details {
                    text-align: left;

                    dl {
                        margin-bottom: 20px;
                        margin-left: 70px;

                        dt, dd {
                            display: inline-block;
                            margin-bottom: 3px;
                            font-size: 12px;
                        }

                        dt {
                            text-transform: uppercase;
                            font-weight: 600;
                            text-align: right;
                        }

                        dd {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        // --------------------------------------
        // main view (user hasn't been selected)
        // ---------------------------------------

        #details-container {
            hr {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            #user-detail-row {
                #avatar-col {
                    margin-bottom: 20px;

                    #avatar {
                        max-width: 100px;
                        max-height: 100px;
                        width: 80%;
                        padding-bottom: 80%;
                        background-color: $tzukuri-light-grey;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                #user-col {
                    #user-title {
                        #user-name {
                            display: inline;
                            font-size: 32pt;
                            font-weight: 200;
                            text-transform: capitalize;
                        }

                        #logout {
                            margin-left: 20px;
                        }

                        margin-bottom: 20px;
                    }

                    #increase-chance {
                        margin-bottom: 20px;
                    }

                    #invite-link-container {
                        background-color: $tzukuri-light-grey;
                        border-radius: 15px;
                        padding: 15px;
                        text-align: center;
                        margin-bottom: 20px;

                        #link {
                            text-align: center;
                            width: 60%;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            background-color: white;
                            color: $tzukuri-blue;
                            border-radius: 10px;
                            padding: 10px 20px 10px 20px;
                            border: 1px solid $tzukuri-light-grey;
                            -webkit-appearance: none;
                            opacity: 1 !important;
                        }
                    }
                }

                #score-col {
                    text-align: center;

                    #score-container {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        border: 2px solid $tzukuri-blue;
                        color: $tzukuri-blue;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                        display: block;

                        #points-amount {
                            margin-top: 30px;
                            display: block;
                            font-size: 32pt;
                            font-weight: 200;
                        }

                        #points-sub {
                            margin-top: 30px;
                            font-size: 14pt;
                            font-weight: 200;
                        }
                    }
                }
            }

            #connect-social-row {
                #social-exp {
                    margin-bottom: 20px;
                }

                .social-col {
                    margin-top: 10px;

                    .social-icon {
                        text-align: center;
                        color: $tzukuri-blue;
                        padding-top: 2.5px;
                    }

                    button {
                        border-radius: 10px;
                        width: 100%;
                        font-size: 11pt;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        height: auto;

                        &.connected {
                            background-color: $tzukuri-blue;
                            color: white;
                            cursor: auto;
                        }
                    }
                }
            }

            #answer-questions-row {
                margin-bottom: 40px;

                #question-header {
                    margin-bottom: 20px;

                    .answer-sub {
                        font-size: 10pt;
                    }

                    #answered {
                        color: $tzukuri-dark-grey;
                    }

                    #skip {
                        color: $tzukuri-blue;
                        cursor: pointer;

                        &.hidden {
                            display: none;
                        }
                    }
                }

                #question-content {
                    margin-top: 20px;

                    #questions-complete {
                        text-align: center;

                        &.hidden {
                            display: none;
                        }
                    }

                    .question {
                        display: none;

                        #question-name {
                            margin-bottom: 20px;
                        }

                        p {
                            color: $tzukuri-black;
                        }

                        form {
                            input {
                                text-align: left;
                                background-color: white;
                                border: none;
                                border-radius: 0px;
                                padding-left: 0px;
                                padding-top: 0px;
                                margin-left: 5%;
                                width: 42%;
                                font-weight: 100;
                                border-bottom: 1px solid $tzukuri-blue;

                                @include transition(0.5s);

                                &:hover {
                                    color: $tzukuri-blue;
                                }
                            }
                        }
                    }
                }
            }
        }

        // --------------------------------------
        // login (user is not authenticated)
        // ---------------------------------------
        #login-container {
            text-align: center;
            padding: 10px;

            h1 {
                font-size: 42pt;
                font-weight: 100;
                margin-bottom: 50px;
                line-height: 150%;
            }

            h2 {
                font-size: 12pt;
                font-weight: 300;
                color: $tzukuri-dark-grey;
                margin-bottom: 30px;
                line-height: 150%;
            }

            form {
                input {
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    #login-container form input {
        width: 90% !important;
    }

    .step-back {
        display: none;
    }

    #invite-friends .invite-container #unique-link {
        width: 90% !important;
    }

    #avatar-col #avatar {
        width: 100px !important;
        height: 100px !important;
        padding-bottom: 0px !important;
    }

    #invite-link-container #link {
        // font-size: 10pt;
    }
}

@media only screen and (max-width: 320px) {
    #login-container h1 {
        font-size: 32pt !important;
    }
}
