body.beta {
    #beta-invite {
        padding-top: 100px;
        font-weight: 200;

        .register-now {
            height: auto;
            padding: 10px 20px 10px 20px;
            font-size: 11pt;
            font-weight: 200;
            background-color: $tzukuri-blue;
            color: white;
            border-radius: 30px;
        }

        p {
            line-height: 18pt;
            font-weight: 200;
        }

        h1 {
            font-weight: 200;
            font-size: 36pt;
            line-height: 150%;
        }

        .feature-detail {
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;

            p {
                line-height: 200%;
                font-size: 14pt;
                margin-top: 20px;
            }

            ul {
                line-height: 200%;
                text-align: left;
                margin-top: 20px;

                li {
                    list-style-type: circle;
                }
            }
        }

        .glasses-image {
            text-align: center;

            img {
                width: 100%;
            }

            p {
                font-size: 10pt;
                color: $tzukuri-dark-grey;
                font-weight: 300;
            }
        }

        .feature-image {
            img {
                width: 100%;
                margin-top: -50px;
            }
        }

        #beta-hero {
            margin-bottom: 40px;

            #registration {
                margin-top: 30px;

                #error {
                    color: $tzukuri-red;
                    font-size: 10pt;
                    text-align: left;
                    vertical-align: middle;
                    line-height: 150%;
                    padding-top: 25px;
                }
            }

            #detail-col {
                font-size: 36pt;

                #unloseable-glasses {
                    font-weight: 200;
                }

                #almost-here {
                    font-weight: 100;
                }

                #blurb {
                    margin-top: 30px;
                    font-size: 14pt;
                    line-height: 200%;
                }

                #glasses-hero {
                    width: 95%;
                    margin-top: 40px;

                    &.invite {}

                    &.no-invite {
                        margin-top: 24%;
                    }
                }

                // the phone on mobile devices (i.e. with no video)
                #phone-mobile {
                    display: none;
                    width: 70%;
                    margin: 0 auto;
                    padding-top: 50px;
                }
            }

            #phone-col {
                #hand-phone {
                    width: 130%;
                    margin-top: 20px;
                }

                #phone-video {
                    width: 23vw;
                    position: absolute;
                    margin-top: -62%;
                    margin-left: 16.9%;
                    max-width: 275px;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    #phone-col {
        display: none;
    }

    #glasses-hero {
        display: none;
    }

    #phone-mobile {
        display: block !important;
        width: 100%;
        margin-top: 60px;
    }

    .six.columns {
        width: 100%;
    }

    #registration #register-now {
        width: 100%;
    }

    #error {
        font-size: 12pt !important;
    }
}

@media only screen and (max-width: 1024px) {
    #glasses-hero {
        display: none;
    }

    #beta-hero #detail-col {
        #unloseable-glasses {
            // font-size: 26pt;
            line-height: 100%;
            padding-bottom: 20px;
        }
    }
}
