html.beta {
  #beta_show {

    padding-top:60px;

    .container {
      text-align:center;
      font-weight:200;

      #registration-email {
        margin-bottom: 60px;
        font-size:28pt;
        line-height: 38pt;
        p {
          font-size:14pt;
          color:gray;
        }
      }

      #registration-details {
        color: #5AA4E8;
        border:1px solid #5AA4E8;
        padding: 50px;

        h1 {
          font-size: 32pt;
          font-weight:200;
        }
      }

      #social-details {

        #priority-head {
          font-weight:300;
          margin-top:60px;
          font-size:20pt;
        }

        #priority-content {
          margin-top:20px;
          font-size:16pt;
          line-height: 26pt;
          color:gray;
        }

        #social-content {

          margin-top:40px;

          .social-button {
            background-color: #5AA4E8;
            color: white;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            font-size:14pt;
            letter-spacing: 0pt;
            font-family: "Helvetica";
            border: 1px solid #5AA4E8;
            margin-top:10px;
            margin-bottom:10px;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition:.5s;
            &:hover {
              background-color: white;
              color: #5AA4E8;
            }
          }
        }

        #share-link {
          margin-top:40px;
          input {
            padding:10px;
            font-size:13pt;
            width: 300px;
            font-weight: 200;
          }
        }

    }

  }
}
}
