@import "tzukuri/variables";
@import "tzukuri/mixins";

#cant-decide {
  height: 400px;
  background-image: image-url('store/cant-decide-2.png');
  background-size: cover;
  background-position: center;
  background-color: #FAFAFA;
  margin-bottom: 1.5vw;

  .container {
    @include vertical-align();

    .content {
      width: 60%;

      h1,p {
        padding-bottom: 1.5vw;
      }

      button {
        width: 45%;
      }
    }
  }

  @media only screen and (max-width: $smartphone) {
    height: 45vh;

    .container .content {
      width: 100%;

      h1, p {
        padding-bottom: 5vw;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: $tabletLandscape) {
    button {
      width: 100%;
      &#try-on {
        margin-top: 2vh;
        margin-bottom: 2vh;
      }
    }
  }
}
