footer {
    background: $lavender-grey;
    padding: 30px;
    color: white;

    p, ul li, a {
      @include font-size(14px);
      color: white;
    }

    a {
      line-height: 200%;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-head {
      @include font-size(16px);
      font-weight: 600;
    }

    #footer-subhead {
      padding-top: 10px;
    }

    #footer-signup {
      padding-top: 10px;

      form {
        display: inline;

        input, button {
          @include font-size(14px);
        }

        button {
          margin: 0;
          padding-left: 12px;
          padding-right: 12px;
        }

        input {
          float: left;
          border-radius: 20px;
          margin-right: 10px;
          width: 75%;
        }
      }
    }

    #social-links  {
      padding-top: 20px;

      a {
        display: inline-block;
        padding-right: 20px;
      }
    }

    #sitemap {
      padding-top: 10px;
    }

    hr {
      border-top: 1px solid rgba(255, 255, 255, 1.00);
    }

    #footer-bottom {
      p {
        @include font-size(12px);
      }

      #quote {
        float: left;
      }

      #copy {
        float: right;
      }
    }
}

@media only screen and (max-width: $tabletPortrait) {
  footer {
    #footer-signup {
      margin-bottom: 20px;
    }

    #copy {
      float: left !important;
    }
  }
}
