header#store {
    position:fixed;
    left: 0px;
    right: 0px;
    top: 0px;

    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
    line-height: $header-height;
    height: $header-height;
    z-index: 10;

    border-bottom: 1px solid rgba(0,0,0,0.05);
    background: rgba(255, 255, 255, 0.97255);

    div {
        max-width: 960px;
        width: 80%;
        margin: 0px auto;
        position: relative;
        @include box-sizing(border-box);
        padding-right: $horz-padding;
    }

    h1 {
        line-height: $header-height;

        > a {
            height: 25px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    #hamburger {
        display: none;
    }

    menu {
        float: right;
        margin-top: -$header-height;

        nav {
            text-align: middle;
            display: inline-block;

            a {
                font-size: 10pt;
                letter-spacing: normal;
                color: $tzukuri-dark-grey;
                font-weight: 200;
                display: inline-block;
                margin-left: 20px;

                &.selected {
                    color: #777;
                }
            }

            #subscribe {
                color: $tzukuri-blue;
            }
        }
    }
}

@media only screen and (max-width: $menu-width-cutoff) {
    header#store {
        #hamburger {
            position: absolute;
            right: 0px;
            top: 12px;
            display: block;
            color: #555;
            font-size: 16px;

            &:hover {
                text-decoration: none;
            }
        }

        menu {
            position: fixed;
            margin-top: 0px;
            background-color: #f9f9f9;
            border-left: 1px solid #eee;
            top: $header-height + $header-padding-top + $header-padding-bottom + 1px;
            right: -220px;
            bottom: 0px;
            width: 200px;
            padding: 20px 10px;
            @include single-transition(right, 0.5s);

            &.showing {
                right: 0px;
            }

            nav a {
                font-size: 16px;
                display: block;
            }

            button {
                margin-left: 50px;
                margin-top: 40px;
            }
        }
    }
}

