@import "tzukuri/variables";
@import "tzukuri/mixins";

header {
    //border-top: 3px solid $tz-background-alt;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    z-index: 1000;
    position: fixed;
    display: block;
    line-height: 90px;

    transition-property: background-color, border-bottom-color, line-height;
    transition-duration: 0.25s;

    #tzukuri {
        @include font-size(30px);
        line-height: 100%;
        vertical-align: middle;
        display: inline-block;
        font-weight: 200;
        letter-spacing: 10px;
        color: white;
        position: relative;
        top: 3px;
    }

    #hamburger {
        display: none;
    }

    nav {
        text-align: right;
        display: inline-block;
        float: right;
        position: relative;
        top: 2px;

        a {
            margin-left: 20px;

            &.no-decoration:hover {
              border-bottom: none;
            }
        }

        a button {
          //margin-top: 10px;
        }

        a {
            @include font-size(14px);

            letter-spacing: 0.5px;
            color: white;
            margin-bottom: 5px;
            transition-property: color, border-bottom-color;
            transition-duration: 0.6s;

            &.selected {
                color: white;
                border-bottom: 1px solid white;
            }

            &:hover {
                color: $tz-title;
                border-bottom: 1px solid $tz-title;
            }
        }
    }

    &.scrolling {
        border-bottom: 1px solid $tz-inactive;
        background-color: rgba(255, 255, 255, 0.99);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.03);
        line-height: 60px;

        // if the browser supports -webkit-backdrop-filter
        /*@supports (-webkit-backdrop-filter: blur(10px)) {
            -webkit-backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.9);
        }*/

        #tzukuri {
            color: $tz-title;
            //top: 18px;
        }

        nav {
            //top: 7px;

            a {
                color: $tz-content;

                &.selected {
                    color: $tz-content;
                    border-bottom-color: $tz-content;
                }
            }
        }
    }
}

@media only screen and (max-width: $tabletPortrait) {
    header {
        text-align: left;

        h1 {
            float: left;
        }

        #hamburger {
            display: block;
            float: right;
            margin-top: -40px;
            font-size: 13pt;

            &.fa-times {
              margin-top: -50px;
            }

            &.fa-bars {
              margin-top: -40px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        #try-btn {
          width: 75%;
          margin: 0 auto;
          padding-bottom: 20px;
        }

        nav {
            @include transition(.5s ease-in-out);

            text-align: center;
            padding-bottom: 0px;
            max-height: 0px;
            visibility: hidden;
            overflow: hidden;
            width: 100%;

            &.shown {
                max-height: 300px;
                visibility: visible;
            }

            a {
                display: block;
                @include font-size(16px);
                line-height: 250%;

                &:hover {
                  border-bottom: 0px solid black;
                }

                &.selected {
                  border-bottom: 0px solid black;
                }
            }
        }
    }
}
