header {
    border-bottom: 1px solid $tz-inactive;
    text-align: center;
    background-color: $white;
    opacity: 0.95;
    position: fixed;
    top: 0;
    z-index: 10;

    .container {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #tzukuri {
        @include font-size(30px);

        font-weight: 100;
        letter-spacing: 12px;
        color: $tz-title;
        margin-top: 25px;
        padding-bottom: 5px;
    }

    #hamburger {
        display: none;
    }

    nav {
        padding-bottom: 5px;

        a, button {
            margin-left: 20px;
        }

        a {
            @include font-size(13px);

            letter-spacing: 0.5px;
            color: $tz-content;
            margin-bottom: 5px;

            &.selected, &:hover {
                color: $tz-title;
                border-bottom: 1px solid $tz-title;
            }
        }
    }
}

@media only screen and (max-width: $tabletPortrait) {
    header {
        text-align: left;

        h1 {
            float: left;
        }

        #hamburger {
            display: block;
            float: right;
            margin-top: 20px;
            font-size: 13pt;

            &:hover {
                text-decoration: none;
            }
        }

        nav {
            @include transition(.5s ease-in-out);

            padding-bottom: 0px;
            max-height: 0px;
            visibility: hidden;
            overflow: hidden;
            width: 100%;

            &.shown {
                max-height: 300px;
                visibility: visible;
            }

            button {
                width: 70%;
                margin: auto;
                display: block;
                margin-bottom: 20px;
            }

            a {
                border-top: 1px solid $tz-inactive;
                display: block;
                line-height: 250%;
                font-size: 13pt;
                margin-left: 0px;
            }
        }
    }
}
