footer {
    @include font-size(13px);

    text-align: center;
    color: $tz-content;
    padding: 30px;

    span {
        margin-left: 20px;

        a {
            @include font-size(13px);

            margin-left: 20px;
        }
    }
}
