<% unless @product_properties.empty? %>
  <!-- <h2 class="product-section-title"><%= Spree.t('properties')%></h2>

  <dl>
    <dt>Coffee</dt>
    <dd>Black hot drink</dd>
    <dt>Milk</dt>
    <dd>White cold drink</dd>
  </dl> -->

<% end %>
