@import "core";

// store home content
#store-home-content {

  .utility-img {
    text-align: center;
    img {
      width: 70%;
      margin-top: 35px;
    }
  }

  .utility-box {
    background-color: $tz-inactive;
    padding: 50px;
    @include border-radius(5px);
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}


// product show
#product_show {
  border-bottom: 1px solid $tz-background-alt;
  background-color: #F2F2F2;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 50px;

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #help p,a {
    @include font-size(14px);
  }
}

#shipping-returns {
  @include border-radius(5px);
  margin-top:20px;
  margin-bottom: 40px;
  background-color: #F2F2F2;
  padding: 20px;
  text-align: center;

  h2 {
    padding-bottom: 20px;
  }
}

.product-section-title {
  padding-bottom: 20px;
}

// orders edit
#cart-container {
  margin-top: 50px;

  h1 {
    margin-bottom: 20px;
  }

  #empty-cart {
    text-align: center;

    button {
      margin-top: 20px;
      margin-bottom: 50px;
    }

  }

  #outside_cart_form {
    button, [type=submit] {
      margin: 0;
      width: 100%;
      margin-top: 25px;
    }

    #clear-cart {
      margin-bottom: 10px;
    }

    #checkout-link {
      // width: 100%;
      // margin-top: 0px;
      margin-bottom: 25px;
    }

    #update-button {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  #cart-detail {
    margin-bottom: 25px;
  }
}

// checkout
#checkout {
  // background-color: #F2F2F2;
  padding-top: 40px;

  #address-submit {
    margin-bottom: 50px;
    text-align: center;

    input[type="submit"] {
      width: 100%;
    }

    #save-user-address {
      label {
        display: inline;
      }
    }
  }

  #checkout-summary, #returns-summary {
    background-color: #F2F2F2;
    padding: 30px;
    @include border-radius(8px);

    h3 {
      margin-bottom: 30px;
    }
  }

  #returns-summary {
    margin-top: 30px;
  }

  #checkout-content {
    margin-top: 50px;
  }

  #checkout-step-address {
    margin-top: 20px;

    li {
      margin-right: 20px;
      a {
        color: $tz-content;
      }
    }

    .active a {
      font-weight: bold;
      color: $tz-active;
    }
  }

  #checkout_form_address {
    h2 {
      margin-left: 20px;
      padding-bottom: 20px;
    }

    #checkout-address-form  {
      margin-top: 30px;
    }
  }

  #checkout-step-address {
    li {
      display: inline;
    }
  }
}
