<div id="beta-forgot" class="container">
    <h2>Forgot your beta login link?</h2>
    <p>Enter your email address and we'll send your link to you</p>
    
    <%= form_tag "/beta/retrieve", remote:true, id:'beta_user_retrieve'  do %>
        <p><%= email_field_tag 'email', nil, placeholder: 'email address', autofocus: true %></p>
        <p><%= submit_tag "submit", id: 'submit-btn' %></p>
    <% end %>
    
    <p id="email-confirm">processing...</p>
</div>
