<div id="beta-invite">

  <div class="container">

    <div class="row" id='beta-hero'>
      <div class="six columns" id='phone-col'>
      image
      </div>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unloseable glasses</h1>
        <h2 id="almost-here">Coming soon</h2>
        <p  id="blurb">
        The world's first unloseable glasses are coming soon. Register your interest to be the first to know when they're available.</p>
        <button id="register" class="cta-button" style="font-size: 12pt">Register your interest ></button>
        <p id="registrations">
          Beta registrations are now closed. <a href="/beta/forgot">Forgot your beta login link?</a>
        </p>
      </div>
    </div>
  </div>
  </div>

</div>
