<div id="beta-invite">

  <div class="container">

    <div class="row" id='beta-hero'>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unloseable sunglasses.</h1>
        <h2 id="almost-here">For 100 people.</h2>
        <p  id="blurb">
        We’re looking for 100 passionate users to help us refine and test our glasses before they’re available to the public. At the end of the testing period, you will be allowed to keep the glasses.
        <br/><br/>
          Registrations are now closed, you will receive an email in the coming days if you have been selected. <a href="/beta/forgot">Forgot your beta login link?</a>
        </p>

        <%= image_tag 'beta/10RF_20150921_TZKR (2002).jpg', :id => 'glasses-hero', :class => @invited_by.nil? ? "no-invite" : "invite" %>
        <%= image_tag 'beta/screenshot_2.png', id: 'phone-mobile' %>
      </div>

      <div class="six columns" id='phone-col'>
        <%= image_tag 'beta/phone-hand-pink_2.png', id: 'hand-phone' %>

        <%= video_tag 'tzukuri_beta_recording_baseline.mp4', :id => 'phone-video', :autobuffer => true, :autoplay => true %>
      </div>
    </div>
  </div>
  </div>

</div>
