<div id="beta-invite">
  <div class="container">
    <div class="row" id='beta-hero'>
      <div class="six columns">
        <%= image_tag 'glasses_hero.jpeg', style: 'width: 100%' %>
      </div>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unlosable glasses</h1>
        <h2 id="almost-here">Coming soon</h2>
        <p  id="blurb">
        The world's first unlosable glasses are coming soon. Register to be the first to know when they're available.</p>
        <button id="register" class="cta-button" style="font-size: 12pt">Register your interest</button>
        <p id="registrations">
          Beta registrations are now closed. <a href="/beta/forgot">Forgot your beta login link?</a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
