<div id="beta-invite">

  <div class="container">

    <div class="row" id='beta-hero'>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unloseable sunglasses.</h1>
        <h2 id="almost-here">Almost here.</h2>
        <p  id="blurb">
        Beautifully designed and thoughtfully constructed, we're looking to give 100 people the opportunity to test our glasses before they're available to the public.
        <!-- 1 in 2 people lose their glasses every year, contributing to an esimated 76k tonnes of plastic and metal into the environment. Are you one of them? -->
        <br/><br/>

        <% if @invited_by.nil? %>
          To be able to register, you'll need to be invited by someone who has already registered for the beta.
          <br/><a href='/beta/forgot'>Forgot your beta login link?</a>
        <% else %>
          Register for an opportunity to help us test the world's first unloseable sunglasses before they're available to the public. <a href="#" id="eligible">Find out more.</a>
        <% end %>
        </p>

        <% if !@invited_by.nil?%>
        <div id="registration" class="row">
          <div class="six columns">
            <button class="register-now">register now</button>
          </div>
        </div>
        <% end %>

        <%= image_tag 'beta/10RF_20150921_TZKR (2002).jpg', :id => 'glasses-hero', :class => @invited_by.nil? ? "no-invite" : "invite" %>
        <%= image_tag 'beta/screenshot_2.png', id: 'phone-mobile' %>
      </div>

      <div class="six columns" id='phone-col'>
        <%= image_tag 'beta/phone-hand-pink_2.png', id: 'hand-phone' %>

        <%= video_tag 'tzukuri_beta_recording_baseline.mp4', :id => 'phone-video', :autobuffer => true, :autoplay => true %>
      </div>
    </div>
  </div>
  </div>

</div>
