<footer>
    Designed by Tzukuri &copy; 2014
    <span>
        <a href="/legal">legal</a>
        <a href="/faq">faq</a>
    </span>
    <span>
        <a href="/contact">contact</a>
        <a href="/about">about</a>
    </span>
</footer>
