<main>
  <article id="overview">
      <div>
          <h1>overview</h1>
          <p>Tzukuri designs products that hope to delight customers through beauty, technology and craftsmanship.</p>
          <p>Pronunciation: zuh-koo-ree or [zə’kʊɺɪ]</p>
          <p>Founded: 2013</p>
          <p>Location: Sydney, Australia</p>
      </div>
  </article>

  <article id="philosophy">
      <div>
          <h1>philosophy</h1>
          <p>Tzukuri means much more than just products. To us it is an approach to design. One that focuses on meticulous care and attention to detail.</p>
          <p>An approach that has the goal to delight and surprise you. An obsession driven by simplicity and subtle beauty.</p>
          <p>A goal to create products that you will use every day and that last a long time. To seek to help the environment rather than hurt it. </p>
          <p>Ultimately, we hope to build products that you will love. And only when we feel we have achieved all this will we label it: <p/>
          <h2>designed in sydney | handmade in japan</h2>
      </div>
  </article>

  <article id="founders">
      <div>
          <h1>founders</h1>
          <h2>Allen LIAO</h2>
          <p>Product Architect</p>
          <h2>Michael SUTTON</h2>
          <p>Operations</p>
      </div>
  </article>

  <article id="board">
      <div>
          <h1>board</h1>
          <h2>Chris GABRIEL</h2>
          <p>Chairman - Alive Mobile</p>
          <p>Former CEO - Zain Africa</p>
          <p>Former Finance Director - Optus</p>
          <h2>David ALLAN</h2>
          <p>COO and President - Vitruix</p>
          <p>Former Supply Chain Executive - Flextronics</p>
          <h2>Martin DUURSMA</h2>
          <p>CTO Chair - Citrix Systems</p>
          <h2>Peter SUTTON</h2>
          <p>Head of Research - CLSA</p>
          <h2>Rob DEEMING</h2>
          <p>Former CEO - Jetsetter</p>
          <p>Former Head of Strategic Projects - Gilt Groupe</p>
          
          <footer>
              Designed by Tzukuri &copy; 2014
              <a href="/legal">legal</a>
              <a href="/faq">faq</a>
              <a href="/contact">contact</a>
              <a href="/about">about</a>
          </footer>
      </div>
  </article>
</main>
