<%= stylesheet_link_tag 'pages/care', media: 'all' %>

<div class="main">

  <!-- new craft -->
  <div class="panel">
    <div class="container">
      <div class="row" id="new-craft">
        <div class="six columns">
          <h1>a new craft</h1>
          <h2 class="h-sm">manufacturing redesigned</h2>
          <p>Traditional eyewear manufacturing techniques could not accomodate precision electronics. Creating the product meant redesigning every stage of how to make a pair of glasses.</p>
        </div>
        <div class="six columns">
          <%= image_tag 'minimillcnc.jpg' %>
        </div>
      </div>

      <div class="row" id="process-highlights">

        <div class="three columns highlight">
          <div class="feature">
            <div class="circle">37<br/>step</div>
          </div>
          <p>manufacturing process</p>
        </div>

        <div class="three columns highlight">
          <div class="feature">
            <div class="circle">10<br/>day</div>
          </div>
          <p>manufacturing time</p>
        </div>

        <div class="three columns highlight">
          <div class="feature">
            <div class="circle">15<br/>micron</div>
          </div>
          <p>precision</p>
        </div>

        <div class="three columns highlight">
          <div class="feature">
            <div class="circle">98%</div>
          </div>
          <p>renewable bioplastic</p>
        </div>

      </div>

    </div>
  </div>

  <!-- new craft -->
  <div class="panel" id="responsibility">
    <div class="container">
      <h1>our responsibility</h1>
      <h2 class="h-sm">more than just glasses</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus ullamcorper dui. Vestibulum tincidunt gravida est, vel lacinia massa. Cras ante nisl, fringilla ac metus quis, vestibulum malesuada mi. Nullam sem est, tempus vitae blandit quis, ultricies ac urna. Vivamus laoreet porttitor enim, non sollicitudin lorem placerat eu. Morbi sit amet sapien velit.</p>
    </div>
  </div>

  <!-- software research -->
  <div class="panel" id="software-research">
    <div class="container">
      <h1>software research</h1>
      <h2 class="h-sm">manufacturing redesigned</h2>
      <p>Traditional eyewear manufacturing techniques could not accomodate precision electronics. Creating the product meant redesigning every stage of how to make a pair of glasses.</p>
    </div>
  </div>

</div>
