<%= stylesheet_link_tag 'pages/careers', media: 'all' %>

<div class="main">
  <div class="panel container">
    <h1>Careers</h1>
    <hr/>
        <h2>Digital Marketing Campaign Manager</h2>
        <p class="location">Sydney, Australia</p>

        <div class="description">
          <p>Tzukuri is a small, young, and innovative organisation designing and building beautiful products. After more than two years research and development, we have just launched a world-first product: unlosable glasses.</p>
          <p>We now need an experienced digital marketing leader who will drive the development and implementation of digital marketing initiatives across all channels for our business. This is a hands-on role where your experience and passion can lead the business.</p>
          <p>If you would like to apply for this role, please send a copy of your CV along with anything else you think would be relevant to <a href="mailto:hello@tzukuri.com">hello@tzukuri.com</a>.
        </div>

        <div class="row">
          <div class="six columns">
            <p class="bold">Responsibilities</p>
            <ul>
              <li>Help to define and develop our overall marketing strategy and direction.</li>
              <li>Drive the marketing plan and budget.</li>
              <li>New customer lead generation through search, social and off-line campaigns.</li>
              <li>Create and manage new campaigns.</li>
              <li>New customer lead generation Word of mouth (WOM) and viral campaigns.</li>
              <li>Thorough understanding of sales conversion.</li>
              <li>Comprehensive understanding of multi-channel digital campaigns.</li>
              <li>Campaign planning.</li>
              <li>Develop digital content strategy.</li>
              <li>Manage digital advertising budget for maximum ROI.</li>
              <li>Effective EDM marketing campaigns.</li>
              <li>Report on campaign outcomes & ROI to Board level.</li>
            </ul>
          </div>

          <div class="six columns">
            <p class="bold">Requirements</p>
            <ul>
              <li>Experience and comprehensive understanding of Adwords, Facebook & Instagram Ads and YouTube is essential.</li>
              <li>Ability to run campaign experiments and measure effectiveness across a variety of digital channels.</li>
              <li>Ability to work autonomously and drive results.</li>
              <li>Experience with Google Analytics (GA), Social Analytics and other forms of marketing analytics.</li>
              <li>Strong organisational & people skills.</li>
              <li>Strong communication skills.</li>
            </ul>
          </div>
        </div>
  </div>
</div>
