<main>
    <article id="contact">
        <div class="content">
            <h2>Get in touch.</h2>
            <div id="first-row">
                <a href="http://facebook.com/tzukuri">
                    <span class="fa fa-facebook"></span>
                    facebook
                </a>
                <a href="http://twitter.com/tzukuri">
                    <span class="fa fa-twitter"></span>
                    twitter
                </a>
            </div>
            <div>
                <a href="mailto:team@tzukuri.com">
                    <span class="fa fa-envelope-square"></span>
                    email
                </a>
                <a href="mailto:press@tzukuri.com">
                    <span class="fa fa-newspaper-o"></span>
                    press contact
                </a>
            </div>
            <%= render partial: 'footer' %>
        </div>
    </article>
</main>
