<main>
    <article id="design">
        <div>
            <h1>History of handmade.</h1>
            <p>Fukui prefecture in Japan is renowned for the heritage and quality of it’s handmade eyewear. Our manufacturer carries three generations of skill and has spent 47 years making acetate frames. The care and attention to detail that goes into each pair is unmatched anywhere in the world.</p>
        </div>
    </article>

    <article id="japan">
        <div class="background" style="background-image: url(<%= image_url 'japan.jpg' %>)"></div>
    </article>

    <article id="environment">
        <div>
            <h1>Polarised.</h1>
            <p>Not only does every pair have 100% UVA/UVB protection and protective coatings for durability. But polarisation comes standard all lenses. It offers superior sun protection and visual comfort in every respect.</p>
            <dl>
                <span>
                    <dd>better</dd>
                    <dt>contrast + colors</dt>
                </span>
                <span>
                    <dd>reduced</dd>
                    <dt>eyestrain + glare</dt>
                </span>
            </dl>
            <%= image_tag 'lens.png', width: 960, height: 635%>
            <p><a href="#" class="share"><%= image_tag 'share.png' %>Share</a></p>
        </div>
    </article>

    <article id="remaining">
        <div>
            <dl>
                <dd>462</dd>
                <dt>Remaining</dt>
            </dl>
            <a href="#" class="button">Preorder</a>
            <footer>
                Designed by Tzukuri &copy; 2014
                <a href="/legal">legal</a>
                <a href="/faq">faq</a>
                <a href="/faq">contact</a>
                <a href="/faq">about</a>
            </footer>
        </div>
    </article>
</main>
