<div class="u-full-width panel" id="craft-hero">
  <div class="container">
  HERO
  </div>
</div>

<div class="container panel">
  <div class="row">
    <div class="six columns">
      Materials image placeholder
    </div>
    <div class="six columns">
      <h1><span class="bold">materials</span><span class="spacer">|</span>Subtitle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a justo cursus, finibus risus et, posuere arcu. Pellentesque diam tortor, aliquam eget turpis eu, tempor consequat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
  </div>
</div>

<!-- frequency diversity -->
<div class="container panel">
  <div class="row">
    <div class="six columns">
      <h1><span class="bold">processes</span><span class="spacer">|</span>Subtitle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a justo cursus, finibus risus et, posuere arcu. Pellentesque diam tortor, aliquam eget turpis eu, tempor consequat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
    <div class="six columns">
      Processes Image Placeholder
    </div>
  </div>
</div>
