<% content_for :button do %>
    <a id="subscribe" class="header-button subscribe" href="#">Subscribe</a>
<% end %>

<% content_for :meta do %>
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
<% end %>

<main>
    <article id="static-content">
        <nav>
            <h1>faq</h1>
            <a href="#general">General</a>
            <a href="#technology">Technology</a>
            <a href="#craftsmanship">Craftsmanship</a>
            <a href="#team">Team</a>
        </nav>

        <section id="general">
            <h1>General</h1>
            <div>
                <h2>When can I order?</h2>
                <p>Keep your eyes peeled. Orders will be available very soon.</p>

                <h2>How much are Tzukuris?</h2>
                <p>Tzukuris will retail for USD $425.</p>

                <!-- <h2>When will I receive my pair?</h2>
                <p>Depending on when you ordered, your frames will be shipped in batches from March 2015 onwards. It may seem like a while away but our handmade frames take 100 steps and 8 quality control checks before they’re done. Just setting up the tooling takes between 4-6 months. We want to make sure that our finished product is flawless before you get them, so we’re not rushing a single partial of that process.</p>

                <h2>Why am I being charged a $100 deposit on my preorder?</h2>
                <p>Handmade Japanese frames aren’t the cheapest thing to make. In fact they cost up to 10x more than most luxury eyewear brands. As a young company, lowering our risk and directing our attention to delivering the best possible product is what we would like to be doing. The majority of these funds will finance production run which includes the new machinery required to insert the chip on a mass scale.</p>

                <h2>Why am I only being charged $100 instead of the full $249?</h2>
                <p>We think the ship date of March 2015 is a long time to go without the extra $149. We thought we’d wait until we were ready to ship before we charged you the remainder.</p> -->

                <h2>Will Tzukuri ship internationally?</h2>
                <p>Yes, we offer global shipping. Even to Antarctica.</p>

                <h2>How do I find the pair that suits my face?</h2>
                <p>No fear. We will walk you through that process as you order your pair.</p>

                <h2>How do I get updates on new features or new products you’re working on?</h2>
                <p>Just like us on Facebook or follow us on Twitter (@Tzukuri) and we’ll keep you posted.</p>

                <!-- <h2>What is your policy on refunds?</h2>
                <p>If you decide to cancel your order before production on your pair has begun, we can refund your deposit. Anything past this, we will not be able to refund your deposit, but can waive the final charge to your credit card.</p> -->

                <h2>What kind of warranty do you provide?</h2>
                <p>We provide a limited warranty. If your pair is defective, we will replace it. But if you break it or change your mind, we will not be able to refund you. Though we're positive that once you pick them up, you won’t want to.</p>
            </div>
        </section>

        <section id="technology">
            <h1>Technology</h1>
            <div>
                <h2>Do I have to charge my Tzukuris?</h2>
                <p>Yes, Tzukuris will need to be recharged from time to time. The Tzukuri app will let you know when it's time to do this.</p>

                <h2>How long will my Tzukuris last?</h2>
                <p>We don’t believe in planned obsolescence. That’s why we’ve built each pair to last for a few years, with quality materials and well constructed.</p>

                <h2>Do I have to have the Tzukuri app running in the background at all times?</h2>
                <p>After setting your glasses up, the Tzukuri app will automatically run in the background.</p>

                <h2>Will my Tzukuris drain my battery life?</h2>
                <p>The app communicates with your Tzukuris using Bluetooth Low Energy (Bluetooth 4.0). BLE is a new technology designed to draw very little power from your smartphone, so while using Tzukuris will use a small amount of power, it won't be very much.</p>

                <h2>What is the range of Tzukuris?</h2>
                <p>You can track the exact proximity of your Tzukuris up to 60m depending on the environment. But the map in the Tzukuri app will allow you to pin point the last location you had them, no matter how far away you are.</p>

                <h2>Are my Tzukuris waterproof?</h2>
                <p>Tzukuris are 100% waterproof up to 1 atmosphere. By embedding our components within the frames, we have sealed the hardware from water damage.</p>

                <h2>Can I pair my Tzukuris to multiple mobile devices? For example, an iPhone and an iPad?</h2>
                <p>No, you can only pair your Tzukuris to one mobile device at a time. </p>

                <h2>Do you need an Internet connection to use Tzukuri?</h2>
                <p>Because we use BLE, no internet connection will be required to receive alerts. To view the last location of your Tzukuris on a map you will need an internet connection.</p>

                <h2>How small is the beacon?</h2>
                <p>Pretty small (one edge is less than 2.5mm). We embed each beacon inside the temple (the side arms) of the frame. You won't be aware it's even there.</p>

                <h2>How do I pair my Tzukuris with my iPhone?</h2>
                <p>Each pair comes with a unique code, just punch this into the app the first time you get your pair and you’re good to go.</p>

                <h2>When will Android support be offered?</h2>
                <p>Bluetooth Low Energy is not standard across Android devices, and so protocols vary drastically between brands of Android smartphones. When BLE becomes more standardised across Android handsets, we will begin offering Android support.</p>
            </div>
        </section>

        <section id="craftsmanship">
            <h1>Craftsmanship</h1>
            <div>
                <h2>How are Tzukuri frames made?</h2>
                <p>Every pair is handmade in Sydney, and takes up to 3 weeks to produce. Each frame goes through 100 steps and 8 quality control checks before they’re finished. You’ll definitely feel the care and attention to detail that went into them when you get yours.</p>

               <h2>What lenses do you use in your frames?</h2>
               <p>We use the German polarised lenses manufactured by Carl Zeiss with 100% UVA/UVB protection. Every lens has a special hard coating, anti-reflective coating and triflection coating applied. This provides superior optical clarity and incredible durability. It also provides extra protection from oil and smudging.</p>

               <h2>Why are you making polarised lenses standard with Tzukuris?</h2>
               <p>We felt it was important to give you the best protection and experience possible, even if the lenses are more expensive for us. Polarised lenses cut glare, provide superior colour perception, better clarity and contrast all whilst reducing eyestrain. All of these things contribute to keeping your eyes healthy.</p>

               <h2>What material do you use in your frames?</h2>
               <p>We use high quality cellulose acetate, as it offers the highest levels of durability and strength. The material is also hypoallergenic and highly recyclable.</p>

               <h2>Will the pairs turn out exactly as pictured?</h2>
               <p>We will try our best to make sure that every final pair is as close to the frames pictured. But the nature of handmade means that every pair will be unique and can never be replicated exactly. This means, no one will have a pair just like yours.</p>
            </div>
        </section>

        <section id="team">
            <h1>Team</h1>
            <div>
                <h2>Where is Tzukuri from?</h2>
                <p>Though we are from all over the world, we have made Sydney our home.</p>

                <h2>Where should I direct press inquiries?</h2>
                <p>Please direct all press enquiries to team@tzukuri.com</p>

                <h2>How do you pronounce Tzukuri?</h2>
                <p>Tzukuri is pronounced zuh-koo-ree.</p>

               <h2>What does Tzukuri mean?</h2>
               <p>Our goal is to make beautifully useful products that people will love, Tzukuri is the phonetic spelling of "to make" in Japanese.</p>

               <h2>Are you hiring?</h2>
               <p>We have a few positions available in design, software and hardware engineering. Please contact us at team@tzukuri.com with your resume.</p>

               <h2>How can I email you for general feedback or comments?</h2>
               <p>We would love to hear any input no matter how big or small, so that we can continue building great products that our customers love. So drop us a line at team@tzukuri.com</p>
            </div>
        </section>
    </article>
    <article>
        <%= render partial: 'footer' %>
    </article>
</main>

<script>
    $('#static-content nav a').click(function(event) {
        var target = $(this).attr('href');
        var element = $(target);
        console.log(element.offset().top);

        $('body').animate({
            scrollTop: element.offset().top
        }, 600);

        event.preventDefault();
    });
</script>
