<% content_for :button do %>
    <a id="subscribe" class="header-button subscribe" href="#">Subscribe</a>
<% end %>

<% content_for :meta do %>
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
<% end %>

<main>
    <article id="static-content">
        <nav>
            <h1>faq</h1>
            <a href="#beta">Beta Program</a>
        </nav>


        <section id="beta">
            <h1> Beta Program </h1>
            <div>
                <h2>How will Beta participants be selected?</h2>
                <p>Beta participants will be selected based on the number of points a user has acquired. Ultimately, we reserve the right to select anyone who we deem to be an appropriate tester. The details are all outlined in our <a href="/beta_legal">beta terms and conditions</a>.</p>

                <h2>My score is in the top 10% but I haven't heard anything. Will I be selected?</h2>
                <p>When we have filled all of the spots in our beta program, we will send an email to everyone that has not been selected. If you haven't received this, there still may be a chance that you will be chosen for the beta program, there is no guarantee that you will be selected if you have a high score.</p>

                <h2>What platforms will the Tzukuri beta work with?</h2>
                <p>During the beta, Tzukuri will only work with iOS. The beta will require iOS 9.0 or above and an iPhone 5 or later.</p>

               <h2>How many participants will be invited to join the Tzukuri beta?</h2>
               <p>Initially, we will be selecting 100 participants. We may increase this number if we feel it is necessary to properly test the product.</p>

               <h2>How will you know where to ship my glasses if I'm selected?</h2>
               <p> If you've been selected to join the Tzukuri beta program, you will be notified by email and required to enter your shipping details.</p>

               <h2>Will I get to choose which style of glasses I receive if I'm selected?</h2>
               <p>If selected, you will be able to choose from two different styles in the same colour.</p>

               <h2>How can I get in contact with Tzukuri about the Beta Program?</h2>
               <p>If you have any other questions or concerns, please send an email to <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a> and we'll do our best to get back to you as soon as possible.</p>
            </div>
        </section>
    </article>
</main>

<script>
    $('#static-content nav a').click(function(event) {
        var target = $(this).attr('href');
        var element = $(target);
        console.log(element.offset().top);

        $('body').animate({
            scrollTop: element.offset().top
        }, 600);

        event.preventDefault();
    });
</script>
