<main>

    <article id="campaign1">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign2">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign3">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign9">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign4">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign5">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign6">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign7">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="campaign8">
        <div class="panel">
            <div class="content">
                <div id="frame"></div>
            </div>
        </div>
    </article>

    <article id="remaining">
        <div>
            <dl>
                <dd>1200</dd>
                <dt>Remaining</dt>
            </dl>
            <!-- <a href="#" class="button">Preorder</a> -->
            <%= render partial: 'footer' %>
        </div>
    </article>
</main>
