<%= stylesheet_link_tag 'pages/index', media: 'all' %>
<%= javascript_include_tag 'pages/index', :defer => "defer" %>

<div class="main">
  <div class="container panel hidden" id="hero">
    <div class="five columns" id="hero-content">
      <h1 class="h-lg">Beautifully handmade glasses you won't lose.</h1>
      <a href="/function"><button id="learn-more" class="sm-btn alternate">unlosable glasses<i class="fa fa-chevron-right"></i></button></a>
    </div>

    <div class="seven columns" id="hero-image">
      <%= image_tag 'glasses/docked-overhead.jpg' %>
    </div>
  </div>
</div>
