<%= stylesheet_link_tag 'pages/index', media: 'all' %>
<%= javascript_include_tag 'pages/index', :defer => "defer" %>

<div class="main">
  <div class="container panel hidden" id="hero">
    <div class="five columns" id="hero-content">
      <h3>introducing</h3>
      <h1 class="h-lg">unlosable glasses</h1>
      <h2>Beautifully handmade glasses you won't lose.</h2>
      <a href="/unlosable-glasses"><button id="learn-more" class="sm-btn alternate">learn more &nbsp; &rarr;</button></a>
    </div>

    <div class="seven columns" id="hero-image">
      <a href="/unlosable-glasses"><%= image_tag 'glasses/docked-overhead.jpg' %></a>
    </div>
  </div>

  <!-- <div class="container"><hr/></div> -->

  <div class="panel" id="store">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <h1>Tzukuri Sydney store</h1>
          <p>We’ve repurposed the Old Clare Bottle Shop as a dedicated try-on space for you to experience Unlosable Glasses.</p>
        </div>
        <div class="three columns" id="address">
          <p class="bold">address</p>
          <p>The Old Clare Bottle Shop</p>
          <p>1 Kensington Street</p>
          <p>Chippendale, NSW, 2008</p>
          <a href="https://goo.gl/maps/ZdhPG1QdB6L2">directions and map &rarr;</a>
        </div>
        <div class="three columns" id="hours">
          <p class="bold">store hours</p>
          <p>Monday - Sunday</p>
          <p>11:30AM - 7PM<p>
        </div>
      </div>
    </div>
  </div>

</div>
