<%= javascript_include_tag 'index', :defer => "defer" %>

<!-- hero -->
<div class="container panel hidden" id="hero">
    <div class="six columns" id="hero-image">
        <%= image_tag 'glasses_hero.jpg' %>
    </div>
    <div class="six columns" id="hero-content">
        <h1><span class="bold">unlosable glasses</span><span class="spacer">|</span>Made in Sydney</h1>
        <p>1 in 2 people lose a pair of glasses every year, contributing 90,000 tonnes of waste into the environment. Are you one of them?</p>
        <button id="register-interest" class="md-btn">join waitlist</button>
    </div>
</div>

<!--
<div id="scroll-indicator" class="hidden">
    <i class="fa fa-2x fa-chevron-down"></i>
</div>
-->

<!-- bluetooth -->
<!--
<div class="u-full-width panel" id="bluetooth">
    <div class="container" style="text-align: center">
        <%#= image_tag 'beacon.png' %>
        <h1 style="padding-top: 30px;"><span class="bold">bluetooth beacon</span><span class="spacer">|</span>World's Smallest</h1>
        <p style="margin: 0 auto;">A Tzukuri designed Bluetooth Low Energy beacon is sealed invisibly inside each pair of glasses. The beacon connects with the Tzukuri app on your iPhone and lasts up to 30 days on a single charge.</p>
    </div>
</div>
-->

<!-- design -->
<!-- <div class="container panel" id="design">
    <div class="row" id="sun-row">
        <div class="five columns frame-container">
            <%#= image_tag 'frames/ford/ford_black_sun.jpg', class: 'left' %>
            <h3 class="design-title">Ford</h3>
            <p class="design-detail">Matte Black | Sun</p>
        </div>
        <div class="two columns">&nbsp;</div>
        <div class="five columns frame-container">
            <%#= image_tag 'frames/ive/ive_black_sun.jpg', class: 'right' %>
            <h3 class="design-title">Ive</h3>
            <p class="design-detail">Matte Black | Sun</p>
        </div>
    </div>
    <div class="row" id="design-content">
        <h2><span class="bold">design</span><span class="spacer">|</span>Pair of Beauties</h2>
        <p>Tzukuri is available in 2 beautiful designs, 2 sizes and is available in both sun and optical.</p>
        <a href="/design">Learn more about our designs</a>
    </div>
    <div class="row" id="optical-row">
        <div class="five columns frame-container">
            <%#= image_tag 'frames/ford/ford_black_optical.jpg', class: 'left' %>
            <h3 class="design-title">Ford</h3>
            <p class="design-detail">Matte Black | Optical</p>
        </div>
        <div class="two columns">&nbsp;</div>
        <div class="five columns frame-container">
            <%#= image_tag 'frames/ive/ive_black_optical.jpg', class: 'right' %>
            <h3 class="design-title">Ive</h3>
            <p class="design-detail">Matte Black | Optical</p>
        </div>
    </div>
</div>
-->

<!-- app -->
<!--
<div class="u-full-width panel" id="app">
    <div class="container">
        <div class="row">
            <div class="one column">
                <a href="" id="app-prev">
                    <i class="fa fa-2x fa-chevron-left"></i>
                </a>
            </div>
            <div class="four columns" id="screenshot-container">
                <%#= image_tag 'screenshots/notification.png', class:'app-screenshot' %>
                <%#= image_tag 'screenshots/main.png', class:'app-screenshot' %>
                <%#= image_tag 'screenshots/ranging.png', class:'app-screenshot' %>
            </div>
            <div class="six columns" id="feature-container">
                <div class="app-feature">
                    <h2><span class="bold">unloseable</span><span class="spacer">|</span>Notifications</h2>
                    <p>The Tzukuri app notifies you when you leave your glasses behind, so you won’t forget them.</p>
                    <a href="/technology">Learn more about the technology</a>
                </div>
                <div class="app-feature">
                    <h2><span class="bold">unloseable</span><span class="spacer">|</span>Last seen location</h2>
                    <p>Tzukuri saves the last time and place you had your glasses, so you know where you left it.</p>
                    <a href="/technology">Learn more about the technology</a>
                </div>
                <div class="app-feature">
                    <h2><span class="bold">unloseable</span><span class="spacer">|</span>Find</h2>
                    <p>We all misplace our glasses around the home. Tzukuri shows you how far away you are to help you find them.</p>
                    <a href="/technology">Learn more about the technology</a>
                </div>
            </div>
            <div class="one column">
                <a href="" id="app-next">
                    <i class="fa fa-2x fa-chevron-right"></i>
                </a>
            </div>
        </div>

        <div class="row" id="app-nav">
            <i class="fa fa-circle current"></i>
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
        </div>
    </div>
</div>
-->

<!-- craft -->
<!--
<div class="container panel" id="craft">
    <div class="row">
        <div class="six columns">
            <%#= image_tag 'vf1_lc_smtc.jpeg', style: 'width: 100%' %>
        </div>
        <div class="six columns content">
            <h1><span class="bold">a new craft</span><span class="spacer">|</span>10x precision</h1>
            <p>To seal electronics inside glasses required redesigning every step of the eyewear manufacturing process. We developed a precision, 37 stage process that produces the most precise acetate frames in the world.</p>
            <a href="/craft">Learn more about our manufacturing process</a>
        </div>
    </div>
</div>
-->

<!-- lenses -->
<!--
<div class="container panel" id="lenses">
    <div class="row">
        <div class="six columns content">
            <h1><span class="bold">lenses</span><span class="spacer">|</span>Polarised</h1>
            <p>Every pair comes with polarised lenses as standard, offering 100% UVA/UVB protection and glare reduction for the best visual clarity, protection and comfort.</p>
            <a href="/design">Learn more about our designs</a>
        </div>
        <div class="six columns">
            <%#= image_tag 'lenses_2.jpg', style: 'width: 100%' %>
        </div>
    </div>
</div>
-->

<!-- personal fitting -->
<!--
<div class="u-full-width panel" id="personal-fitting">
    <div class="container">
        <div class="row">
            <div class="five columns">
                <%#= image_tag 'Tzukuri3144.JPG' %>
            </div>
            <div class="one column">&nbsp;</div>
            <div class="six columns" id="pf-content">
            <h2><span class="bold">personal fitting</span><span class="spacer">|</span>Try them on</h2>
            <p>Want to try them on? Reserve yours to schedule a complimentary Personal Fitting if you're within 15km of the Sydney CBD.</p>
            <a href="/fitting">Learn more about our Personal Fitting service</a>
            </div>
        </div>
    </div>
</div>
-->
