<% content_for :javascript_includes do %>
  <%#= javascript_include_tag 'pages/legal' %>
  <%= stylesheet_link_tag 'pages/legal' %>
<% end %>

<div class="main">
    <div class="hero">
        <div class="bg photo"></div>
        <div class="container content">
            <div>
                <h1>legal</h1>
            </div>
        </div>
    </div>
    <div class="panel" id="legal">
        <div class="container">
            <h1>Terms and conditions and end user licensing agreement.</h1>

            <p>Please read through the Tzukuri Terms and Conditions and End User License Agreement below prior to purchasing your Tzukuri product, as the product is subject is the following terms and conditions.</p>

            <h2>1. REGISTRATION</h2>

            <p>Thank you for supporting Tzukuri Pty Ltd. (the "Company"). These are the terms and conditions (the "Terms") which apply to your use of this website and to your use of the Tzukuri trackable eyewear product (collectively referred to as the "Product"). </p>

            <p>Please read these Tzukuri Terms before purchasing the Product. By completing your registration within the Tzukuri app you will become a registered customer of the Product (a "User") and you agree to be bound by the Tzukuri Terms. If you do not agree to the Tzukuri terms, please do not purchase the Product. The Tzukuri terms are subject to change by the Company at any time. You are encouraged to regularly review the Tzukuri terms to ensure that you are aware of any changes. By continuing to use the Product after changes in the Tzukuri Terms have been posted on the Website, you agree to be bound by the most current version of the Tzukuri Terms. </p>

            <p>In the event of any conflict between these Tzukuri Terms and the terms of any other offer for the Product, these Tzukuri Terms will govern.</p>

            <h2>2. CHANGES/UPGRADES TO THE SERVICES OFFERED BY TZUKURI PTY LTD.</h2>

            <p>The Company has the right, in its sole discretion, to modify or change the Product and and any related Fees (as defined below), and will notify you of such changes via the Website, e-mail, or other method determined by the Company. Your continued use after such modification(s) or change(s) are made constitutes your acceptance of such Product Fees. However, if at any time you are not satisfied with the Service, Software, and/or Fees, you will always have the right to terminate the Service subject to the terms provided in Section 8 below. </p>

            <h2>3. USE OF SERVICE AND WEBSITE</h2>

            <p>SERVICE AREA - Your service area will be dependent on your mobile having adequate and reliable access to mobile network coverage and internet access. The Company is not responsible for any issues arising from dependence on your mobile network coverage or internet access. </p>

            <p>SYSTEM REQUIREMENTS - The Company does not manufacture, sell, or install the third party systems required to utilise this Product. You may only access and use the Service in conjunction with an Apple iPhone 5 family, 6 family, or 7 family device, running iOS 9 or iOS 10.</p>

            <p>SAFETY AND ACCESS CONTROL - You may not attempt to gain unauthorised access to the website, computer systems or networks connected to the website through hacking, password mining, or any other means. You agree that you will not engage in any activities with respect to the website that are contrary to any applicable laws, rules, regulations, or the like.</p>

            <p>RESTRICTIONS ON USE - You agree that you will not copy, sublicense or appropriate the Product; and/or cause or permit reverse compilation, reverse engineering, or reverse assembly of all or any portion of the Product. You further agree not to allow, except as otherwise provided herein, any third parties, consultants or independent contractors to operate or use the Product.</p>

            <p>CUSTOMER SERVICE - For any questions or concerns regarding the Service or Software, please contact our customer service at <a href="mailto:hello@tzukuri.com">hello@tzukuri.com</a>. </p>

            <h2>4. FEES</h2>

            <p>All fees related to the Product will be billed to you by the Company's third party provider, Stripe, and all payments will be transacted through Stripe. The Company reserves the right to change its third party provider and without prior notice to you.</p>

            <p>If you wish to dispute a charge on your bill, please contact our customer service team as outlined in Section 3 within 60 days after the due date of the charge in question, otherwise you waive your right to dispute the charge. </p>

            <p>You are responsible for immediately notifying the Company of any changes to your registration information including, but not limited to, name, credit card information, and shipping address. </p>

            <h2>5. LIABILITY</h2>

            <p>The Company does not authorise any person to create for it any obligation or liability in connection to provided Tzukuri Services. To the maximum extent permitted by applicable law, in no event will the company, its suppliers, or licensors be liable for any special, incidental, indirect, or consequential damages whatsoever, including, but not limited to, damages for: loss of profits, loss of confidential or other information, business interruption, personal injury, personal or real property damage, loss of privacy, failure to meet any duty (including of good faith or of reasonable care, or negligence) and any other pecuniary or other loss whatsoever, even if the company has been advised of the possibility of such damages, arising out of or in any way related to (a) the use of or inability to use the Tzukuri services; (b) the cost of procurement of substitute goods and services; or (c) any other matter relating to the Tzukuri services. Except as otherwise provided in these Tzukuri terms, if you are dissatisfied with any portion of the Tzukuri services, your sole and exclusive remedy is to cancel and discontinue using the Tzukuri Product. The foregoing exclusions and limitations will apply regardless of any allegation or finding that a remedy failed of its essential purpose, regardless of the form of action or theory of liability (including, without limitation, negligence) and even if The Company or others were advised or aware of the possibility of likelihood of such damages or liability. </p>

            <h2>6. WARRANTIES</h2>

            <p>The service is provided on an “as is” basis, without warranty of any kind. To the maximum extent permitted by applicable law, Tzukuri disclaims all warranties, express, implied, statutory or otherwise, including but not limited to implied warranties of fitness for a particular purpose, merchantability, title, quality, and non-infringement. The Company expressly disclaims any warranties of any kind with respect to the service, including with respect to the accuracy or functionality of the service, the accuracy, validity, or completeness of any information available through the service.</p>

            <h2>7. INDEMNIFICATION</h2>

            <p>By purchasing the Product, you agree to indemnify, defend and hold Tzukuri Pty Ltd. subsidiaries, affiliates, suppliers, and licensors, and the respective officers, directors, employees, agents, and assigns harmless from and against any and all third party claims, demands, proceedings, suits and actions, including any related liabilities, obligations, losses, damages, penalties, fines, judgments, settlements, expenses (including attorneys' and accountants' fees and disbursements) and costs incurred by, borne by or asserted against the company to the extent such claims in any way relate to, arise out of, or result from your use of the Tzukuri services. </p>

            <h2>8. WAIVER.</h2>

            <p>Any waiver granted herein shall not be deemed effective unless in writing, executed by the party as to whom enforcement of the waiver is sought. A waiver by either party of any provision(s) hereof shall not be deemed a waiver as to any other provision hereof or of any subsequent breach by either party of the same or any other provision. </p>

            <h2>9. SEVERABILITY.</h2>

            <p>If any provision of these Tzukuri Terms is prohibited or unenforceable by any applicable law, the provision shall be ineffective only to the extent and for the duration of the prohibition of unenforceability, without invalidating any of the remaining provisions. </p>

            <h2>10. SURVIVAL.</h2>

            <p>The obligations of you under these Tzukuri Terms that by their nature would continue beyond the termination of these Tzukuri Terms including, but not limited to, those sections relating to Fees and Indemnification will survive any termination. </p>

            <h2>11. LEGAL FEES.</h2>

            <p>In the event the Company seeks legal action against you for collection of any Fees or to enforce its rights and your obligations under these Tzukuri Terms, the Company is entitled to recover from you its reasonable costs and expenses including, but not limited to, reasonable solicitor fees incurred as a result. </p>

            <h2>12. REMEDIES.</h2>

            <p>The rights and remedies provided to the Company under these Tzukuri Terms are in addition to any other remedies available at law or in equity. </p>

            <h2>13. ENTIRE AGREEMENT.</h2>

            <p>These Tzukuri Terms represent the entire agreement and understanding of the parties with respect to the subject matter of these terms and conditions and supersedes all prior agreements and understandings between the parties, whether oral or written, with respect to this subject matter. </p>

            <p>BY USING THE TZUKURI SERVICES, I REPRESENT THAT I HAVE READ AND UNDERSTAND THESE ENTIRE TZUKURI TERMS, AND I AGREE TO ALL THE TERMS AND CONDITIONS OF THE TZUKURI SERVICES AS STATED ABOVE.</p>





            <h1>End User Software Licence Terms</h1>

            <p>Read the following terms and conditions of this software licence carefully before proceeding. By proceeding, you are accepting and agreeing to the following software licence terms and conditions. If you are not willing to be bound by the following software licence terms and conditions, you should promptly exit the Tzukuri website. This licence agreement represents the entire agreement concerning Tzukuri software between you and Tzukuri Pty. Ltd. ("Company"), and it supersedes any prior proposal, representation, or understanding between the parties. </p>

            <h2>1. LICENSE GRANT AND USE</h2>

            <p>a. Company grants to You a nonexclusive, non-transferable licence to access via Company's web site and use the machine-readable version of Tzukuri software, as may be updated from time to time without notice by Licensor at Licensor's sole discretion ("Licensed Software"), user manuals and technical materials viewable and printable through Licensor's website (the "Documentation"). The Licensed Software and Documentation are collectively called the "System." </p>

            <p>b. You acknowledge that You have no ownership, rights, title or other interest in the Software apart from that granted hereunder. All rights, title, and interest including, but not limited to, intellectual property interests, in and to the System are the exclusive property of Licensor, and this Agreement shall not be deemed a transfer of title or ownership in any respect. </p>

            <p>c. You acknowledge that the licence granted hereunder is terminable at will by the Company in its sole and absolute discretion. Termination of the Agreement revokes Your licence and ends Your rights. In case of such termination, You will immediately cease use of the System. The terms that by their sense and context are intended to survive performance by either or both parties shall so survive the performance and termination of the Agreement, including without limitation those terms relating to warranty limitations, limitation of liability, remedies or damages, or Company's proprietary rights.</p>

            <p>d. You acknowledge that the Licensed Software may include software provided by third parties ("Third Party Software") and the licensor of any Third Party Software embedded in the Licensed Software has a proprietary interest in such software. </p>

            <p>e. You may view and download a single copy of the Documentation solely for Your personal, non-commercial use. You will not otherwise, in whole or in part, sublicense, copy, rent, loan, transfer, modify, enhance, prepare derivatives of, decompile, or reverse engineer any portion of the System. </p>

            <p>f. If any modifications, enhancements, improvements or alterations to the Software are or have been made by Company, You or any non-party, either singly or in combination, all such modifications, enhancements, improvements or alterations shall belong exclusively to Company. You agree to assign to Company any ownership or other right, title and interest in or to any such improvements, enhancements, modifications or alterations and to execute any documents to facilitate said assignment that are requested of it by Company. </p>

            <p>g. Your rights hereunder may not be assigned, sold, transferred, pledged or encumbered in any way. You may not sell, sublicense or rent Software to any third-party. Company may assign this Agreement. </p>

            <h2>2. MAINTENANCE </h2>

            <p>While regular updates to the Tzukuri app and website will be provided delivered over time, the Company is under no obligation to support or maintain the Software. </p>

            <h2>3. PROPRIETARY RIGHTS </h2>

            <p>You acknowledge that System is a proprietary asset of Company. </p>

            <h2>4. WARRANTIES </h2>

            <p>Company makes no representations or warranties of any kind whatsoever as to the performance or functionality of the software. The licence of said software hereunder is strictly on an "as-is" basis. Any implied warranties of merchantability or fitness for a particular purpose, title, and non-infringement are expressly disclaimed whether such warranties are express, implied, or statutory. </p>

            <h2>5. LIMITATION OF LIABILITY </h2>

            <p>You waive and release any causes of action, both at law or in equity, and/or any remedies you might currently have or hereafter acquire against company, or its related businesses, suppliers, agents, or representatives arising either hereunder or from your prior use of the software. In no event, shall either party have any liability to the other for indirect, incidental or consequential damages, including, but not limited to, lost profits, or for special, exemplary or punitive damages, and each party covenants not to seek such damages with respect to any claims arising out of or related to this agreement. </p>

            <h2>6. ENTIRE AGREEMENT </h2>

            <p>This represents the entire agreement and understanding of the parties with respect to the subject matter of this Agreement and supersedes all prior agreements and understandings between the parties, whether oral or written, with respect to this subject matter. Notwithstanding the foregoing, the Terms and Conditions of Company's web site are incorporated herein by reference and are made part of this Agreement. You acknowledge that such Terms and Conditions may be changed at any time without notice by Company, and that such changes to the Terms and Conditions shall be binding upon You. </p>

            <h2>MISCELLANEOUS.</h2>

            <p>These Terms, whether interpreted in a court of law or in arbitration, shall be governed by the laws of the State of New South Wales (NSW), Australia and the NSW Fair Trading laws as they apply to agreements entered into by those from NSW, and without regard to conflict of law principles. To the extent that any lawsuit or court proceeding is permitted hereunder, you and Tzukuri agree to submit to the personal and exclusive jurisdiction of the state courts and federal courts located within the district of NSW for the purpose of litigating all such claims or disputes. These Terms (including the various additional terms incorporated herein by reference) constitute the entire agreement between you and Tzukuri, and supersedes any and all prior agreements, negotiations, or other communications between you and Tzukuri, whether oral or written, with respect to the subject matter hereof, and, except as expressly provided herein, cannot be modified except in writing signed by both parties. In the event that any provision of these Terms is held to be invalid or unenforceable, then: (a) such provision shall be deemed reformed to the extent strictly necessary to render such provision valid and enforceable, or if not capable of such reformation shall be deemed severed from these Terms; and (b) the validity and enforceability of all of the other provisions hereof, shall in no way be affected or impaired thereby. You agree to abide by all applicable laws in your use of the Service, including export control laws and similar regulations governing the transfer of software and other technology outside of the Australia or other jurisdictions. You may not assign these Terms without the prior written consent of Tzukuri, whether expressly or by operation of law, including in connection with a merger or change of control, and any such attempted assignment shall be void and of no effect. Tzukuri may assign these Terms without restriction. Subject to the foregoing, these Terms shall be binding on the parties and their respective successors and permitted assigns. You acknowledge and understand that if Tzukuri is unable to provide the Service as a result of a force majeure event Tzukuri will not be in breach of these Terms. A force majeure event means any event beyond the control of Tzukuri. The failure to exercise, or delay in exercising, a right, power or remedy provided in these Terms or by law shall not constitute a waiver of that right, power or remedy. Tzukuri’s waiver of any obligation or breach of these Terms shall not operate as a waiver of any other obligation or subsequent breach of these Terms.
            </p>
        </div>
    </div>
</div>
