<div class="main">
  <div class="container panel" style="text-align: center;">
    <h1>password reset</h1>
    <br/><br/>
    <p>Your password has been reset. You should be able to log in to the Tzukuri app with your new password.</p>
  </div>
</div>
