<div class="main">
  <div class="container panel" style="text-align: center;">
    <h1>password reset instructions sent</h1>
    <br/><br/>
    <p>We've sent an email with instructions on how to reset your password.</p>
    <p>If you do not receive it in the next few minutes, please check your spam and promotions folders.</p>
  </div>
</div>
