<main>
  <article>
    <div class="panel">
      <div class="content">

        <!-- if the repond param is present, show buttons for accepting and rejecting -->
        <% if params["respond"] == "true" %>
        <div id="policy-changed">
          <p>Our Privacy Policy has changed. To continue to use Tzukuri, please accept the new policy below.</p>
          <button id="accept-privacy">accept</button>
          <button id="reject-privacy">reject</button>
        </div>
        <%end%>

        <!-- add an extra clas that slides the container down to accomodate the above div if params exist -->
        <div id="policy-container" class="<%= 'policy-gap' if params["respond"] == "true" %>">
          <h1>Privacy Policy</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam mauris sed orci commodo, id consequat nisi lacinia. Sed vel quam quam. Quisque id sapien non arcu accumsan volutpat ac nec odio. Quisque viverra tincidunt mauris non sagittis. Aenean euismod, turpis id sollicitudin lacinia, eros ligula placerat turpis, ut imperdiet nisi tortor eget tellus. Cras mattis lectus eget erat vulputate iaculis. Morbi accumsan sapien sed justo mollis maximus. Phasellus bibendum quis nibh nec molestie. Morbi fringilla egestas vehicula. Aenean accumsan pretium dui, ac laoreet mi pulvinar vulputate. Donec sollicitudin risus non hendrerit vestibulum. Praesent vulputate imperdiet dui quis dignissim. Phasellus quis purus lectus. Vestibulum cursus urna nec risus sollicitudin mollis. Nam et urna purus. Fusce semper sodales metus, eu cursus nulla commodo non.

            In consequat fermentum sapien, vel accumsan leo volutpat in. Sed a accumsan ligula. Fusce varius libero ac turpis ullamcorper elementum. Proin ut laoreet libero. Integer rhoncus nec nibh rutrum facilisis. Vivamus bibendum fringilla justo, vitae sodales odio lacinia semper. Cras ac tortor venenatis, cursus felis in, luctus magna. Aenean ac lectus eget nibh mollis feugiat nec pulvinar justo. Ut mauris urna, elementum vitae pellentesque quis, sodales et ante.

            Fusce at eros magna. Aenean convallis sem massa, quis bibendum odio sollicitudin non. Cras aliquet diam id ipsum porta malesuada sit amet vitae urna. In finibus quis lorem at blandit. Maecenas condimentum fermentum massa a tempus. Fusce massa nisi, malesuada vitae augue non, pharetra viverra massa. Praesent eget pellentesque odio, a posuere turpis. Pellentesque vitae eros vel ligula pellentesque pharetra. In dignissim pulvinar libero, in efficitur enim. Etiam consequat ex quis nibh accumsan eleifend. Maecenas quis nisl malesuada, bibendum nunc in, mollis nisi. Pellentesque tellus massa, porta vitae arcu vitae, pellentesque sagittis libero.

            Mauris accumsan venenatis pulvinar. Quisque quis ligula ut diam scelerisque ultricies. Duis id nisi vel diam faucibus pharetra. Vestibulum et dui vel mauris mattis vestibulum ac nec magna. Vestibulum luctus turpis quis lobortis euismod. Duis viverra justo auctor orci bibendum pulvinar. Vivamus quis lectus dignissim, tempus nunc et, malesuada lectus. Vestibulum lacinia odio sed molestie pretium. Sed eget felis efficitur, efficitur quam in, posuere orci. Quisque sagittis, turpis malesuada lacinia pellentesque, sapien nisl fermentum magna, et feugiat quam leo et justo. Vestibulum neque enim, dictum porttitor lacus eu, ultrices tristique nisl. Morbi at tortor eget tellus malesuada cursus vitae eget quam. Phasellus sodales pharetra lorem posuere blandit. Integer nec tortor pellentesque velit vulputate sagittis.

            Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce venenatis porttitor scelerisque. Mauris venenatis blandit viverra. Nunc velit nisi, accumsan in sem id, dictum egestas sem. Aenean vestibulum, sem maximus mattis varius, magna mauris pharetra erat, ullamcorper dignissim tortor nisi at lacus. Quisque ornare nulla eget aliquam ullamcorper. Integer neque sapien, tincidunt facilisis est a, commodo placerat quam. Suspendisse blandit lectus vitae ante aliquet, eu pellentesque nisl pharetra.</p>
          </div>
        </div>
      </div>
    </article>
  </main>

  <script>
    $("#accept-privacy").click(function() {
    // redirect, this will be caught by the app to handle and accept state
    window.location.href = 'tzukuri://privacy-accept';
  });

    $("#reject-privacy").click(function() {
    // redirect, this will be caught by the app to handle a reject state
    window.location.href = 'tzukuri://privacy-reject';
  });
</script>
