<%= stylesheet_link_tag 'pages/retail', media: 'all' %>

<div class="main">
  <div class="header">
    <div class="bg photo"></div>
    <div class="bg gradient"></div>
    <div class="container content">
      <div>
        <h1>tzukuri sydney store</h1>
        <h2>the old clare bottle shop</h2>
      </div>
    </div>
  </div>

  <div class="panel container">
    <div class="row" id="retail-head">
      <p>We’ve repurposed the Old Clare Bottle Shop as a dedicated try-on space for you to experience Unlosable Glasses.</p>
      <p>Visit us to try our different frames, buy a pair in store and get help setting up your Tzukuris.</p>
      <p>Open for a limited time. <span class="bold">7th March - 1st April</span>.</p>
    </div>

  <div class="details-centre">
    <div class="details">
      <div id="address">
        <p class="bold">Address:</p>
        <p>
          The Old Clare Bottle Shop<br>
          1 Kensington Street<br>
          Chippendale, NSW 2008
        </p>
      </div>

      <div id="hours">
        <p class="bold">Store Hours:</p>
        <p>
          Open every day<br>
          11:30AM - 7PM (Thurs 7:30PM)
        </p>
      </div>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed/v1/place?q=The+Old+Clare+Hotel&zoom=16&key=AIzaSyDcVmPTWLDZ8ueqnw8kDp1JCm6D6zv_boc"></iframe>
</div>
