<%= stylesheet_link_tag 'pages/retail', media: 'all' %>

<div class="main">
  <div class="hero">
    <div class="bg photo"></div>
    <div class="bg "></div>
    <div class="container content">
      <div>
        <h1>tzukuri retailers</h1>
        <h2>sydney</h2>
      </div>
    </div>
  </div>

  <div class="panel container">
    <div class="row" id="retail-head">
      <p>Visit Proview Optical to try our different frames, buy a pair in store and get help setting up your Tzukuris.</p>
    </div>

  <div class="details-centre">
    <div class="details">
      <div id="address">
        <p class="bold">Address:</p>
        <p>
          Proview Optical<br>
          Shop G4, 175 Pitt Street<br>
          Sydney NSW 2000<br>
          Tel: +61 2 9223 6566
        </p>
      </div>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.8183334665964!2d151.20596091583732!3d-33.86857242647959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3f89a31059%3A0xe701d9c151cb5ce0!2sProview+Optical!5e0!3m2!1sen!2sau!4v1493693590454"></iframe>
</div>
