<%= stylesheet_link_tag 'pages/retail', media: 'all' %>

<div class="main">

  <div class="panel container">
    <div class="row" id="retail-head">
    <h1>Tzukuri Sydney Store</h1>
    <br/>
    <p>Visit us to try our different frames, buy a pair in store and get help setting up your Tzukuris.</p>
    <p>Open for a limited time. <span class="bold">March 7 - April 1</span>.
    </div>

    <div class="row" id="store-detail">
      <div class="five columns" id="address-hours">
        <div id="address">
          <p class="bold" id="address-head">Address:</p>
          <p>The Old Clare Bottle Shop</p>
          <p>1 Kensington Street</p>
          <p>Chippendale, NSW 2008</p>
          <a href="https://goo.gl/maps/ZdhPG1QdB6L2">Directions and map &rarr;</a>
        </div>

        <div id="hours">
          <p class="bold" id="hours-head">Store Hours:</p>
          <p>Open every day</p>
          <p>11:30AM - 7PM</p>
        </div>
      </div>

      <div class="seven columns" id="store-img">
      </div>
    </div>
  </div>

</div>
