<%= stylesheet_link_tag 'pages/retail', media: 'all' %>

<div class="main">
  <div class="header">
    <div class="bg photo"></div>
    <div class="bg gradient"></div>
    <div class="container content">
      <div>
        <h1>tzukuri retailers</h1>
        <h2>sydney</h2>
      </div>
    </div>
  </div>

  <div class="panel container">
    <div class="row" id="retail-head">
      <p>If you would rather try on a pair of Tzukuris before buying, you can visit one of our authorised retailers. They will be able to help you select the right frame and get your Tzukuris set up.</p>
    </div>

    <div class="row" id="stores">
      <div class="six columns">
        <div id="address">
          <p><a href="http://www.proviewoptical.com.au/pitt-st" class="bold">ProView Optical, Pitt Street</a></p>
          <p>Shop G4, 175 Pitt Street</p>
          <p>Sydney NSW 2000</p>
          <p>9223 6566</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.8183334665964!2d151.20596091583732!3d-33.86857242647959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3f89a31059%3A0xe701d9c151cb5ce0!2sProview+Optical!5e0!3m2!1sen!2sau!4v1493693590454"></iframe>
      </div>


      <div class="six columns">
        <div id="address">
            <p><a href="https://finefellow.co" class="bold">Fine Fellow</a></p>
            <p>11 Foley Street</p>
            <p>Darlinghurst NSW 2010</p>
            <p>9356 2514</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.4311994308105!2d151.212770315688!3d-33.87854698065363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae173b9042bb%3A0x8df8a0de853ad641!2sFine+Fellow!5e0!3m2!1sen!2sau!4v1496818309192"></iframe>
      </div>
    </div>

  <!-- <div class="details-centre">
    <div class="details">
      <div id="address">
        <p class="bold">Address:</p>
        <p>
          Proview Optical<br>
          Shop G4, 175 Pitt Street<br>
          Sydney NSW 2000<br>
          Tel: +61 2 9223 6566
        </p>
      </div>
    </div>

    <div class="details">
      <div id="address">
        <p class="bold">Address:</p>
        <p>
          Fine Fellow<br>
          11 Foley Street<br>
          Darlinghurst NSW 2010<br>
          Tel: +61 2 9356 2514
        </p>
      </div>
    </div>
  </div> -->
</div>
