<%= stylesheet_link_tag 'pages/retail', media: 'all' %>

<div class="main">
  <div class="header">
    <div class="bg photo"></div>
    <div class="bg gradient"></div>
    <div class="container content">
      <div>
        <h1>tzukuri retailers</h1>
        <h2>sydney</h2>
      </div>
    </div>
  </div>

  <div class="panel container">
    <div class="row" id="retail-head">
      <p>Visit Proview Optical to try our different frames, buy a pair in store and get help setting up your Tzukuris.</p>
    </div>

  <div class="details-centre">
    <div class="details">
      <div id="address">
        <p class="bold">Address:</p>
        <p>
          Proview Optical<br>
          Shop G4, 175 Pitt Street<br>
          Sydney NSW 2000<br>
          Tel: +61 2 9223 6566
        </p>
      </div>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed/v1/place?q=Proview+Optical&zoom=16&key=AIzaSyDcVmPTWLDZ8ueqnw8kDp1JCm6D6zv_boc"></iframe>
</div>
