<%= stylesheet_link_tag 'pages/team', media: 'all' %>

<div class="main">
  <div class="panel" id="thankyou">
    <div class="container">
      <div class="row">
        <h1>thank you</h1>
        <p class="blurb">The company and its products would not exist without a spirit of generosity, wonderful friendship and the collective effort of a remarkable group of people.</p>

        <h2>team</h2>
        <p>
            <ul>
                <li>William Cannings</li>
                <li>Sebastian Adams</li>
                <li>Samuel Turner</li>
                <li>Madeleine Hoy</li>
                <li>Mark Irwin</li>
                <li>Michael Furniss</li>
                <li>Alastair Donnelley</li>
            </ul>
        </p>

        <h2>directors</h2>
        <p>
            <ul>
                <li>Allen Chinte Liao | Founder Tzukuri</li>
                <li>Andrew Rothwell | Founder Tyro</li>
                <li>Dennis Paphitis | Founder Aēsop</li>
            </ul>
        </p>

        <h2>benefactors</h2>
        <p>
            <ul>
                <li>Ron Johnson | CEO Enjoy, <%= image_tag 'other/apple.png', class: 'apple' %> SVP Retail</li>
                <li>Jon Rubinstein | CEO Bridgewater Associates</li>
                <li>Bertrand Serlet | <%= image_tag 'other/apple.png', class: 'apple' %> SVP Max OS X (Former)</li>
                <li>Matt Mullenweg | CEO Automattic, WordPress</li>
                <li>Stephen Fry | Actor, Writer and Comedian</li>
            </ul>
        </p>
        
        <p>
            <ul>
                <li>Chris Gabriel</li>
                <li>Bevan Clark</li>
                <li>Peter Gammell</li>
                <li>Leni Mayo</li>
                <li>Bruce Jeffreys</li>
                <li>Oliver Burke</li>
                <li>Henryk Lobaczeski</li>
                <li>Alan Jones</li>
                <li>James Alexander</li>
                <li>Bart Jellema</li>
                <li>Timothy Howard</li>
                <li>Martin Duursma</li>
                <li>Paul Naphtali</li>
                <li>Simon Monk</li>
                <li>John Croll</li>
                <li>Sameer Kassam</li>
                <li>Belinda Hutchinson</li>
                <li>Ilana Atlas</li>
                <li>Catherine Foley</li>
            </ul>
        </p>
        
        <h2>alumni</h2>
        <p>
            <ul>
                <li>Michael Sutton</li>
                <li>Milena Arsenijevic</li>
                <li>Daniel Gammell</li>
            </ul>
        </p>
      </div>
    </div>
  </div>
</div>
