<%= stylesheet_link_tag 'pages/team', media: 'all' %>

<div class="main">
  <div class="panel" id="thankyou">
    <div class="container">
      <div class="row" style="text-align: center;">
        <h1>thank you</h1>
        <p class = "blurb">The company and its products would not exist without a spirit of generosity, wonderful friendship and the collective effort of a remarkable group of people.</p>
        <br>
        <p class="bold">team</p>
        <br>
        <p>William Cannings</p>
        <p>Sebastian Adams</p>
        <p>Samuel Turner</p>
        <p>Madeleine Hoy</p>
        <p>Mark Irwin</p>
        <p>Michael Furniss</p>
        <p>Alastair Donnelley</p>
        <br>
        <br>
        <p class="bold">directors</p>
        <br>
        <p>Allen Chinte Liao | Founder Tzukuri</p>
        <p>Andrew Rothwell | Founder Tyro</p>
        <p>Dennis Paphitis | Founder Aēsop</p>
        <br>
        <br>
        <p class="bold">benefactors</p>
        <br>
        <p>Ron Johnson | CEO Enjoy,  SVP Retail</p>
        <p>Jon Rubinstein | CEO Bridgewater Associates</p>
        <p>Bertrand Serlet |  SVP Max OS X (Former)</p>
        <p>Matt Mullenweg | CEO Automattic, WordPress</p>
        <p>Stephen Fry | Actor, Writer and Comedian</p>
        <br>
        <p>Chris Gabriel</p>
        <p>Bevan Clark</p>
        <p>Peter Gammell</p>
        <p>Leni Mayo</p>
        <p>Bruce Jeffreys</p>
        <p>Oliver Burke</p>
        <p>Henryk Lobaczeski</p>
        <p>Alan Jones</p>
        <p>James Alexander</p>
        <p>Bart Jellema</p>
        <p>Timothy Howard</p>
        <p>Martin Duursma</p>
        <p>Paul Naphtali</p>
        <p>Simon Monk</p>
        <p>John Croll</p>
        <p>Sameer Kassam</p>
        <p>Belinda Hutchinson</p>
        <p>Ilana Atlas</p>
        <p>Catherine Foley</p>
        <br>
        <br>
        <p class="bold">alumni</p>
        <br>
        <p>Michael Sutton</p>
        <p>Milena Arsenijevic</p>
        <p>Daniel Gammell</p>
      </div>
    </div>
  </div>
</div>
