<%= stylesheet_link_tag 'pages/try-them-on', media: 'all' %>

<div class="main">

  <div class="panel container" id="try-on">
    <div class="six columns">
      <h1>experience Tzukuri</h1>
      <h2 class="h-sm">in more than one way</h2>
      <p>To help you find the best pair of glasses we've got a few ways you can experience them in person. Schedule a Personal Try On, visit our Pop Up store - or order them directly.</p>
    </div>
    <div class="six columns">
      <%= image_tag 'other/fitting-box.jpg' %>
    </div>
  </div>

  <div class="container"><hr/></div>

  <div class="panel container" id="purchase-options">

    <div class="row">
      <div class="four columns" id="tryon">
        <h2 class="title">Personal Try On</h2>
        <p class="bold available">Available from April 10</p>
        <p class="desc">Choosing glasses without trying them on is difficult. To make it easier, we'll bring them to your office, home or local cafe.</p>
        <a href="/book-try-on" class="action"><button class="alternate">book now &nbsp; &rarr;</button></a>
      </div>

      <div class="four columns" id="popup">
        <h2 class="title">Tzukuri Pop up</h2>
        <p class="bold available">Open March 7</p>
        <p class="desc">We’ve repurposed the Old Clare Bottle Shop as a dedicated try on space for you to experience Unlosable Glasses.</p>
        <a href="https://goo.gl/maps/ZdhPG1QdB6L2" class="action"><button class="alternate">directions &nbsp; &rarr;</button></a>

        <div id="address">
          <p>The Old Clare Hotel</p>
          <p>1 Kensington Street</p>
          <p>Chippendale, NSW, 2008</p>
        </div>

        <div id="hours">
          <p>10am - 6pm</p>
          <p>Monday - Sunday</p>
        </div>
      </div>

      <div class="four columns" id="order">
        <h2 class="title">Order Online</h2>
        <p class="bold available">Shipping from April 3</p>
        <p class="desc">If you already know what you'd like, you can order online to have your Tzukuris shipped to your door. Australia only.</p>
        <a href="/buy" class="action"><button class="alternate">order now &nbsp; &rarr;</button></a>
      </div>
    </div>

    <!-- <div class="row" id="titles">
      <div class="four columns">
        <h2>Personal Try On</h2>
      </div>
      <div class="four columns">
        <h2>Tzukuri Pop up</h2>
      </div>
      <div class="four columns">
        <h2>Order Online</h2>
      </div>
    </div> -->

    <!-- <div class="row" id="available">
      <div class="four columns">
        <p class="bold">Available from April 10</p>
      </div>
      <div class="four columns">
        <p class="bold">Open March 7</p>
      </div>
      <div class="four columns">
        <p class="bold">Shipping from April 3</p>
      </div>
    </div> -->

    <!-- <div class="row" id="desc">
      <div class="four columns">
        <p>Choosing glasses without trying them on is difficult. To make it easier, we'll bring them to your office, home or local cafe.</p>
      </div>
      <div class="four columns">
        <p>We’ve repurposed the Old Clare Bottle Shop as a dedicated try on space for you to experience Unlosable Glasses.</p>
      </div>
      <div class="four columns">
        <p>If you already know what you'd like, you can order online to have your Tzukuris shipped to your door. Australia only.</p>
      </div>
    </div> -->

    <!-- <div class="row" id="action">
      <div class="four columns">
        <a href="/book-try-on"><button class="alternate">book now &nbsp; &rarr;</button></a>
      </div>
      <div class="four columns">
        <a href="https://goo.gl/maps/ZdhPG1QdB6L2"><button class="alternate">map & directions &nbsp; &rarr;</button></a>
      </div>
      <div class="four columns">
        <a href="/buy"><button class="alternate">order now &nbsp; &rarr;</button></a>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">
        <div id="address">
          <p>The Old Clare Hotel</p>
          <p>1 Kensington Street</p>
          <p>Chippendale, NSW, 2008</p>
        </div>

        <div id="hours">
          <p>10am - 6pm</p>
          <p>Monday - Sunday</p>
        </div>
      </div>
      <div class="four columns">&nbsp;</div>
    </div> -->
</div>
