<div class="main">
  <div class="container panel" style="text-align: center;">
    <h1>account unlocked</h1>
    <br/><br/>
    <p>Your account has been unlocked. You should be able to log in to the Tzukuri app.</p>
  </div>
</div>
