#diagnostic-timeline {

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #navigation {
    margin-bottom: 20px;
  }

  #aggregates {
    margin-bottom: 20px;

    .summary-block {
      text-align: center;
      border: 1px solid #686868;
      border-radius: 5px;
      color: #686868;

      h2 {
        margin-bottom: 0px;
      }
    }
  }

  #timeline {
    .row {

      .head {
        font-size: 7pt;
      }

      &.expand-row {
        .two {
          border-right: 2px solid #347468;
          border-style: dotted;
          text-align: right;
          padding-right: 10px;
          a {
            text-decoration: none
          }
        }
      }

      // state machine rows are #16a085
      &.state-machine {
        padding-top: 0px;
        padding-bottom: 0px;

        .head, .time-col {
          color: #16a085;
          border-color: #16a085;
        }

        .columns, .column {
          margin-bottom: 0px;
        }

      }

      // location rows are #2980b9
      &.location {
        .head, .time-col {
          color: #2980b9;
          border-color: #2980b9;
        }
      }


      // generic rows are #9b59b6
      &.generic {
        padding-top: 5px;
        padding-bottom: 5px;

        // decorated generic types
        &.notificationDisplayed, &.notificationScheduled {
          .head, .time-col {
            color: #e74c3c;
            border-color: #e74c3c;
          }
        }

        // by default
        .head, .time-col {
          border-color: #9b59b6;
          color: #9b59b6;
        }
      }

      .time-col {
        text-align: right;
        padding-right: 20px;
        border-right: 2px solid black;
      }

      // .content-col {
      //   p {
      //     color: #9b59b6;
      //   }
      // }
    }
  }

  h3 {
    color: #1a1d1a;
    font-size: 11pt;
    margin-bottom: 10px;
  }


  // helpers
  .word-wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
  }

  // override the active admin column styles to prevent line breaking
  .columns, .column {
    clear: none;
  }

}
