.user-detail {
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: #686868;
  }

  dd {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: #1a1d1a;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #F5F7F7;
  }

  .row .columns {
    margin-bottom: 0px;
  }

  .user-card {
    margin-bottom: 30px;

    .action-col {
      text-align: right;
    }

    .row {
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 10px;
      padding-right: 20px;
    }

    .card-head {
      background-color: #F5F7F7;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin-bottom: 0px;

      h3 {
        margin-bottom: 0;
        line-height: auto;
      }
      p {
        margin: 0;
      }

      .card-title {
        color: #9B9B9B;
        text-align: right;

        &.disconnected {
          color: #C7423F;
        }

        &.connected {
          color: #55BF75;
        }
      }
    }

    .card-body {
      border: 1px solid #F5F7F7;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .empty {
    border-radius: 10px;
    background-color: #F5F7F7;
    color: #9B9B9B;
    text-align: center;
    h2 {
      color: #9B9B9B;
      margin-bottom: 0px;
    }
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }

  // override the active admin column styles to prevent line breaking
  .columns, .column {
    clear: none;
  }
}
