<h1>Application Privacy Policy Tzukuri Pty Ltd</h1>
<ol>
    <li>
        We respect your privacy
        <ol>
            <li>Tzukuri Pty Ltd respects your right to privacy and is committed to safeguarding the privacy of our customers and software application ('Application') users. We adhere to the National Privacy Principles established by the Privacy Act 1988 (Cth). This policy sets out how we collect and treat your personal information.</li>
            <li>"Personal information" is information we hold which is identifiable as being about you.</li>
        </ol>
    </li>
    
    <li>
        Collection of personal information
        <ol>
            <li>Tzukuri Pty Ltd will, from time to time, receive and store personal information you enter into the Tzukuri App, provided to us directly or given to us in other forms.</li>
            <li>You will be asked to provide basic information such as your name and email address to enable us to send information, provide software updates and process your product or service order. We may collect additional information at other times, including but not limited to, when you provide feedback, when you provide information about your personal or business affairs, change your content or email preference, respond to surveys and/or promotions, provide financial or credit card information, or communicate with our customer support.</li>
            <li>Additionally, we may also collect any other information you provide while interacting with us.</li>
        </ol>
    </li>

    <li>
        How we collect your personal information 
        <ol>
            <li>Tzukuri Pty Ltd collects personal information from you in a variety of ways, including when you interact with us electronically or in person, when you access the Tzukuri App and when we provide our services to you. We may receive personal information from third parties. If we do, we will protect it as set out in this Privacy Policy.</li>
        </ol>
    </li>

    <li>
        Use of your personal information
        <ol>
            <li>Tzukuri Pty Ltd may use personal information collected from you to provide you with information, updates and our services. We may also make you aware of new and additional products, services and opportunities available to you. We may use your personal information to improve our products and services and better understand your needs.</li>
            <li>The Tzukuri App may make third party social media features available to its users. We cannot ensure the security of any information you choose to make public in a social media feature. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy.</li>
            <li>Tzukuri Pty Ltd may contact you by a variety of measures including, but not limited to telephone, email, sms or mail.</li>
        </ol>
    </li>

    <li>
        Disclosure of your personal information
        <ol>
            <li>We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this Policy. Personal information is only supplied to a third party when it is required for the delivery of our services.</li>
            <li>We may from time to time need to disclose personal information to comply with a legal requirement, such as a law, regulation, court order, subpoena, warrant, in the course of a legal proceeding or in response to a law enforcement agency request.</li>
            <li>We may also use your personal information to protect the copyright, trademarks, legal rights, property or safety of Tzukuri Pty Ltd, its application, website and customers or third parties.</li>
            <li>Information that we collect may from time to time be stored, processed in or transferred between parties located in countries outside of Australia. These may include, but are not limited to the USA, Singapore, and Japan.</li>
            <li>If there is a change of control in our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible at law our user databases, together with any personal information and non-personal information contained in those databases. This information may be disclosed to a potential purchaser under an agreement to maintain confidentiality. We would seek to only disclose information in good faith and where required by any of the above circumstances.</li>
            <li>By providing us with personal information, you consent to the terms of this Privacy Policy and the types of disclosure covered by this Policy. Where we disclose your personal information to third parties, we will request that the third party follow this Policy regarding handling your personal information.</li>
        </ol>
    </li>

    <li>
        Security of your personal information
        <ol>
            <li>Tzukuri Pty Ltd is committed to ensuring that the information you provide to us is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure.</li>
            <li>The transmission and exchange of information is carried out at your own risk. We cannot guarantee the security of any information that you transmit to us, or receive from us. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.</li>
        </ol>
    </li>

    <li>
        Access to your personal information
        <ol>
            <li>You may request details of personal information that we hold about you in accordance with the provisions of the Privacy Act 1988 (Cth). If you would like a copy of the information which we hold about you or believe that any information we hold on you is inaccurate, out of date, incomplete, irrelevant or misleading, please email us at team@tzukuri.com.</li>
            <li>We reserve the right to refuse to provide you with information that we hold about you, in certain circumstances set out in the Privacy Act 1988 (Cth).</li>
        </ol>
    </li>

    <li>
        Software Application
        <ol>
            <li>
                When you use the Tzukuri App
                <p>When you use the Tzukuri App, we may collect certain information such as mobile unique device ID, the IP address of your mobile device, mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Tzukuri App. This information is used in an aggregated manner to analyse how people use our Application, such that we can improve our service.</p>
            </li>
            <li>
                Cookies 
                <p>We may from time to time use cookies on the Tzukuri App. Cookies are very small files which a website uses to identify you when you come back to the Tzukuri App and to store details about your use of the Tzukuri App. Cookies are not malicious programs that access or damage your computer, tablet or smartphone. Most devices automatically accept cookies but you can choose to reject cookies by changing your device settings. However, this may prevent you from taking full advantage of the Tzukuri App.</p>
            </li>
            <li>
                Automatic collection
                <p>The Tzukuri App may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Tzukuri App.</p>
            </li>
            <li>
                Third parties
                <p>Our Tzukuri app may, from time to time, have links to other applications or websites not owned or controlled by us. These links are meant for your convenience only. Links to third party applications and websites do not constitute sponsorship or endorsement or approval of these third parties. Please be aware that Tzukuri Pty Ltd is not responsible for the privacy practises of other such applications or websites. We encourage our users to be aware, when they leave the Tzukuri App or website, to read the privacy statements of each and every application or website that collects personal identifiable information.</p>
            </li>
            <li>
                Geo-location
                <p>When you download the app, we may use GPS technology (or other similar technology) to determine your current location. This will help us to accurately define the last known location of your glasses, and also the route you took when leaving them behind. This will better allow us to help you relocate them. We will not share your location with other users or partners.</p>
            </li>
        </ol>
    </li>

    <li>
        Complaints about privacy
        <p>If you have any complaints about our privacy practices, please feel free to send in details of your complaints to 6 Lenthall Street, Kensington, Sydney, NSW 2033, Australia. We take complaints very seriously and will respond shortly after receiving written notice of your complaint.</p>
    </li>

    <li>
        Opt-out right 
        <p>You can stop all collection of information by the Tzukuri App easily by uninstalling the application, unlinking your pair of Tzukuris and disabling your Tzukuri account. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at team@tzukuri.com.</p>
    </li>

    <li>
        Changes to Privacy Policy
        <p>Please be aware that we may change this Privacy Policy in the future. We may modify this Privacy Policy at any time, in our sole discretion and all modifications will be effective immediately upon our posting of the modifications on our website or notice board. Please check back from time to time to review our Privacy Policy.</p>
    </li>
</ol>

<p>01 November 2015</p>
