// primary style for the tzukuri modal

::-webkit-scrollbar {
    display: none;
}

.tzukuri-modal {
    position: fixed;
    z-index: 200;
    height: 100%;
    width: 100%;
    display: table;

    @include transition(0.8s);

    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);

    &.hidden {
        opacity: 0;
        z-index: -1;
    }

    &.dark {
        background-color: rgba(35, 35, 35, 0.5);
    }

    &.light {
        background-color: rgba(255, 255, 255, 0.95);
    }

    #spacer {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }

    .modal-dialog {
        background-color: white;
        width: 50%;
        border-radius: 20px;
        padding: 30px;
        text-align: center;
        box-shadow: 0px 0px 20px #ECF0F1;
        overflow: auto;
        margin: -20px auto 0px auto;
        max-height: 100vh;

        &.hidden {
            opacity: 0;
            display: none;
        }

        &.light {
            box-shadow: 0px 0px 20px #ECF0F1;
            background-color: rgba(255, 255, 255, 0.9);
            color: $tzukuri-black;
        }

        &.dark {
            box-shadow: none;
            background-color: rgba(35, 35, 35, 0.9);
            color: white;
        }

        &.clear {
            background-color: transparent;
        }

        .modal-content {
            background-color: white;
            width: 50%;
            border-radius: 20px;
            padding: 20px;
            text-align: center;

            &.light {
                background-color: rgba(255, 255, 255, 0.8);
                color: $tzukuri-black;
            }

            &.dark {
                background-color: rgba(35, 35, 35, 0.8);
                color: white;
            }

            &.clear {
                background-color: transparent;
            }
        }
    }
}

// individual modal styles
#subscription-modal {
    h1 {
        font-size: 18pt;
        padding-bottom: 10px;
        font-weight: 200;
    }

    input {
        width: 50%;
        border-radius: 15px;
        padding: 15px;
        border: none;
        background-color: $tzukuri-light-grey;

        &:focus {
            outline-width: 0;
        }
    }

    #subscribe-status {
        display: none;
        font-size: 10pt;
        margin-top: 20px;

        &.error {
            color: $tzukuri-red;
        }

        &.success {
            color: #30AD63;
        }
    }
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 10;
    z-index: 1100;
    float: left;
    display: none;
    width: 300px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;

    // border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $tzukuri-light-grey;
}

.loading-spinner {
    background: url("/images/loading_spinner.svg") no-repeat;
    background-position: 95% 12px;
}

.ui-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 10pt;
    color: $tzukuri-dark-grey;

    @include transition(0.5s);

    &:hover {
        background-color: $tzukuri-blue;
        color: white;
    }

    &:last-of-type {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

#beta-eligible-modal {
    font-weight: 200;
    padding-left: 60px;
    padding-right: 60px;

    h1 {
        font-size: 28pt;
        padding: 30px 60px 30px 60px;
        line-height: 150%;
    }

    ul {
        font-size: 14pt;

        li {
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 200%;
        }
    }
}

#beta-register-modal {
    padding: 0px;

    h1 {
        font-size: 18pt;
        font-weight: 200;
        padding: 30px 60px 30px 60px;
        line-height: 200%;
        overflow-wrap: break-word;
    }

    #form-error {
        color: $tzukuri-red;
        font-size: 10pt;
        font-weight: 400;
        margin-top: 20px;
    }

    #register-errors {
        color: $tzukuri-red;
        font-size: 10pt;
    }

    #terms {
        margin-bottom: 40px;
        font-size: 10pt;
        color: $tzukuri-dark-grey;
    }

    form#new_beta_user {
        margin-bottom: 20px;

        #register-btn {
            background-color: white;
            border-radius: 15px;
            border: 1px solid $tzukuri-blue;
            color: $tzukuri-blue;
            font-size: 12pt;
            margin-top: 20px;
            width: 100px;

            @include transition(0.5s);

            &.disabled {
                color: $tzukuri-light-grey;
                border-color: $tzukuri-light-grey;
                cursor: auto;

                &:hover {
                    color: $tzukuri-light-grey;
                    border-color: $tzukuri-light-grey;
                    background-color: white;
                }
            }

            &:hover {
                color: white;
                background-color: $tzukuri-blue;
            }
        }

        #birthday_hint {
            font-size: 10pt !important;
            font-weight: 400;
            color: $tzukuri-dark-grey;
            margin-top: -10px;
            margin-bottom: 10px;

            &.success {
                color: $tzukuri-green;
            }

            &.error {
                color: $tzukuri-red;
            }
        }

        .beta-input {
            &:focus {
                outline-width: 0;
            }

            background-color: $tzukuri-light-grey;
            border-radius: 7px;
            border: 1px solid $tzukuri-light-grey;
            margin-bottom: 20px;
            padding: 15px;
            width: 70%;
            font-size: 12pt;

            &.error {
                border: 1px solid $tzukuri-red;
            }
        }

        #error-messages {
            color: $tzukuri-red;
            font-size: 10pt;
            padding-top: 10px;
        }
    }
}

#beta-modal {
    color: $tzukuri-dark-grey;

    // color: $tzukuri-light-grey;
    line-height: 200%;
    text-align: left;
    font-weight: 300;
    padding: 5px 40px 25px 40px;

    h1 {
        text-align: center;
        font-size: 36pt;
        padding-top: 20px;
        color: $tzukuri-black;
        font-weight: 100;
        line-height: 150%;
    }

    ol {
        padding-left: 20px;
        list-style-type: decimal;

        li {
            .strong {
                font-weight: bold;
            }
        }
    }
}

#rsvp-modal {}

#share-modal {
    padding: 60px;

    #share-icons {
        span {
            padding: 20px;

            a {
                text-decoration: none;
            }
        }
    }
}

#dashboard-empty-device-modal {
    h1 {
        font-size: 21pt;
        color: $tzukuri-red;
    }

    p {
        font-size: 14pt;
        line-height: 30px;
        font-weight: 200;
    }

    button {
        font-size: 12pt;
    }
}

// let the modal take up the entire screen on mobile devices
@media only screen and (max-width: 750px) {
    #beta-modal, #beta-register-modal, #beta-eligible-modal {
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        padding: 20px;
        height: 100%;
        border-radius: 0;
        box-shadow: none;

        button {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 350px) {
    #beta-register-modal {
        height: auto;

        h1 {
            font-size: 14pt !important;
            padding-top: 60px !important;
        }
    }
}
