// colour palette
$myrtle-green: #2C7567;
$lavender-grey: #C1CBCC;
$dim-grey: #686868;
$white: #FFFFFF;
$eerie-black: #1A1D1A;

// tzukuri colours
$tz-active: $myrtle-green;
$tz-inactive: #F6F6F6;
$tz-background: $white;
$tz-background-alt: $lavender-grey;
$tz-title: $eerie-black;
$tz-content: $dim-grey;
$tz-error: #CF4339;
$tz-success: #36C26E;
$tz-sun: #A69386;

// sizing variables
$tz-border-radius: 20px;

// typography
html, body {
    font-family: HelveticaNeueLT, Helvetica, sans-serif;
}

h1, h2, h3, p, a, ul, li {
    line-height: 150%;
}

h1, h2, h3 {
    color: $tz-title;
    font-weight: 200;

    &.bold, .bold {
        font-weight: 300;
    }
}

h1 {
    @include font-size(28px);

    &.h-lg {
        @include font-size(38px);
    }

    &.h-sm {
        @include font-size(24px);
    }
}

h2 {
    @include font-size(24px);

    &.h-lg {
        @include font-size(28px);
    }

    &.h-sm {
        @include font-size(20px);
    }
}

h3 {
    @include font-size(20px);
}

p, a {
    @include font-size(18px);

    font-weight: 300;

    &.bold, .bold {
        font-weight: 400;
    }
}

p {
    color: $tz-content;
}

a {
    color: $tz-active;
    text-decoration: none;
}

// buttons
button, input[type=submit] {
    @include font-size(16px);

    @include transition(0.5s ease-in-out);

    @include border-radius($tz-border-radius);

    background-color: $tz-active;
    border: 1px solid $tz-active;
    color: $white;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
    opacity: 1;

    &.sm-btn {
        @include font-size(12px);
    }

    &.md-btn {
        @include font-size(16px);
    }

    &.lg-btn {
        @include font-size(18px);
    }

    &.disabled {
        opacity: 0.5;
        cursor: auto;

        &:hover {
            background-color: $tz-active;
            color: $white;
        }
    }

    &:hover {
        background-color: transparent;
        color: $tz-active;
    }
}

// forms
form {
    text-align: left;
    margin-top: 20px;

    input, select {
        @include font-size(16px);

        @include border-radius(7px);

        @include appearance(none);

        // prevent padding from affecting width/height
        box-sizing: border-box;
        display: block;
        min-height: 40px;
        background-color: $tz-inactive;
        border: 1px solid $tz-inactive;
        margin: 0 auto;
        width: 70%;
        padding-left: 20px;
        margin-bottom: 15px;

        &.error {
            border: 1px solid $tz-error;
        }
    }

    label {
        @include font-size(13px);

        margin-left: 18%;
        line-height: 200%;
        color: $tz-content;
    }

    // buttons should not have a set width
    input[type=submit], button {
        width: auto;
        display: block;
        margin: 30px auto 20px auto;
    }

    .messages {
        @include font-size(10px);

        margin: 0 auto;
        text-align: center;
        width: 70%;

        &.error {
            color: $tz-error;
        }
    }
}

// lists
ul {
    @include font-size(18px);

    list-style-type: disc;
    font-weight: 300;
    color: $tz-content;
    line-height: 200%;
}

// panels
.panel {
    h1, h2, p, a {
        padding-bottom: 20px;
    }

    .spacer {
        margin-left: 15px;
        margin-right: 15px;
    }
}

// colour classes
.tz-active {
    color: $tz-active;
}

.tz-error {
    color: $tz-error;
}

// loading spinner
.loading-spinner {
    background: url("/images/loading_spinner.svg") no-repeat;
    background-position: 95%;
    height: 40px;
    color: white;
}

// browser focus outline
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media only screen and (max-width: 720px) {
    form {
        input, select {
            width: 100%;
        }

        label {
            margin-left: 5%;
        }
    }

    button, input[type=submit] {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        @include font-size(23px);
    }

    p {
       @include font-size(15px);
    }
}
