// colour palette
$myrtle-green: #2C7567;
$lavender-grey: #C1CBCC;
$dim-grey: #686868;
$white: #FFFFFF;
$eerie-black: #1A1D1A;

// tzukuri colours
$tz-active: $myrtle-green;
$tz-inactive: #F6F6F6;
$tz-background: $white;
$tz-background-alt: $lavender-grey;
$tz-title: $eerie-black;
$tz-content: $dim-grey;
$tz-error: #CF4339;
$tz-success: #36C26E;
$tz-sun: #A69386;

// typography
html, body {
    font-family: HelveticaNeueLT, Helvetica, sans-serif;
}

h1, h2, h3, p, a {
    line-height: 150%;
}

h1, h2, h3 {
    color: $tz-title;
    font-weight: 200;

    .bold {
        font-weight: 300;
    }
}

h1 {
    @include font-size(28px);
}

h2 {
    @include font-size(24px);
}

h3 {
    @include font-size(20px);
}

p, a {
    @include font-size(18px);

    font-weight: 300;

    .bold {
        font-weight: 400;
    }
}

p {
    color: $tz-content;
}

a {
    color: $tz-active;
    text-decoration: none;
}

// buttons
button {
    @include font-size(14px);

    @include transition(0.5s ease-in-out);

    @include border-radius(20px);

    background-color: $tz-active;
    border: 1px solid $tz-active;
    color: $white;
    padding: 5px 35px 5px 35px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $tz-active;
    }
}

// panels
.panel {
    h1, h2, p, a {
        padding-bottom: 20px;
    }

    .spacer {
        margin-left: 15px;
        margin-right: 15px;
    }
}
