#blur-content > header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;

    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
    line-height: $header-height;
    height: $header-height;
    z-index: 10;

    border-bottom: 1px solid rgba(0,0,0,0.05);
    background: rgba(255, 255, 255, 0.97255);

    div {
        width: 960px;
        margin: 0px auto;
        position: relative;
    }

    h1 {
        line-height: $header-height;

        > a {
            height: 25px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    menu {
        float: right;
        margin-top: -$header-height;

        nav {
            text-align: middle;
            display: inline-block;

            a {
                font-size: 12px;
                letter-spacing: 1px;
                color: #aaa;
                text-transform: lowercase;
                display: inline-block;
                margin-right: 20px;
                margin-left: 20px;

                &.selected {
                    color: #777;
                }
            }
        }
    }
}
