<html>
<body style="font-family: sans-serif; text-align:center; background-color:#FBFCFC;">
  <div style="font-weight:100; width: 50%; margin-left:auto; margin-right:auto; padding:30px; line-height: 28pt; background-color:white">
    <h1 style="font-weight:100; font-size:42pt;">Tzukuri <span style="color:#5AA4E8">[beta]</span></h1>

    <p>Congratulations! You've been selected to join the Tzukuri Beta program. We hope you are as excited as we are that you'll be one of the first in the world to own a pair of unloseable glasses!</p>
  </div>

</body>
</html>
