<html>
<body style="font-family: sans-serif; text-align:center; background-color:#FBFCFC;">
  <div style="font-weight:100; width: 50%; margin-left:auto; margin-right:auto; padding:30px; line-height: 28pt; background-color:white">
    <h1 style="font-weight:100; font-size:42pt;">Tzukuri <span style="color:#5AA4E8">[beta]</span></h1>

    <p>Thanks for registering your interest in the Tzukuri beta program! Be on the look out for another email from us if you're selected to participate in the beta.</p>

    <br/>
    <b>Really want a pair?</b>
    <p>Increase your chances of getting selected for the beta by inviting your friends. We'll be inviting people based on the number of people they get to sign up. The more friends you invite, the better the chances are for both of you. Share this link with them: <a href="http://tzukuri.com/beta/invite/<%=@beta_user.invite_token %>">http://tzukuri.com/beta/invite/<%=@beta_user.invite_token %></a></p>

    <br/>
    <p>You can check your position in line at any time by visiting:</p>
    <div style="background-color:#FBFCFC; padding:5px">
      <p style="font-size:22pt; color:#5AA4E8; ">http://tzukuri.com/beta/<%= @beta_user.invite_token %></p>
    </div>
  </div>



</body>
</html>
