<p>Some beta user's scores may be incorrect. The discrepancies have been written to <%= @file_path %></p>

<p>The following parameters were used to calculate the scores</p>
<p>Invitees: <%= Tzukuri::INVITEE_POINTS %></p>
<p>Social Media: <%= Tzukuri::SOCIAL_POINTS %></p>
<p>Question Responses: <%= Tzukuri::RESPONSE_POINTS %></p>
