@import "tzukuri/variables";
@import "tzukuri/mixins";

body.passwords, body.unlocks {
  #forgot-password, #change-password, #send-unlock {
    text-align: center;

    form {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 40px;

      input[type=submit] {
        @include font-size(14px);
        margin-top: 30px;
      }

      #error_explanation {
        text-align: center;
        color: $tz-error;
        margin-top: 20px;

        h2, ul li {
          @include font-size(12px);
          color: $tz-error;
          font-weight: 400;
        }

        h2 {
          padding-bottom: 10px;
        }
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    a {
      @include font-size(14px);
    }
  }
}

@media only screen and (max-width: $smartphone) {
  body.intelligently-made {

    #app-science {
      img {
        width: 30%;
      }
    }

    #materials {

      .desc {
        width: 100%;
      }

      img {
        &#cellulose-acetate {
          width: 45%;
        }

        &#digilycol-carbonate {
          width: 50%;
        }

        &#silver-oxide {
          width: 30%;
        }
      }
    }

  }
}

@media only screen and (max-width: $smartphone) {
  body.passwords {
    #forgot-password, #change-password, #send-unlock {
      form {
        width: 100%;
      }
    }
  }
}
