<% @body_id = 'home-page' %>

  <div class="container" id="store-home-content">
    <!-- optical row -->
    <div class="row" id=taxon-optical>
      <%= link_to nested_taxons_path(Spree::Taxon.find_by_name('Optical')), class: 'six columns utility-box' do %>
        <h1>Eyeglasses</h1>
        <p>Browse our unisex eyeglasses frames &rarr;</p>
      <% end %>
      <div class="six columns utility-img">
        <%= image_tag 'frames/ive/ive_black_optical.jpg' %>
      </div>
    </div>

    <!-- sun row -->
    <div class="row" id="taxon-sun">
      <div class="six columns utility-img">
        <%= image_tag 'frames/ford/ford_black_sun.jpg' %>
      </div>

      <%= link_to nested_taxons_path(Spree::Taxon.find_by_name('Sun')), class: 'six columns utility-box' do %>
        <h1>Sunglasses</h1>
        <p>Browse our unisex sunglasses frames &rarr;</p>
      <% end %>
    </div>

  </div>
