<% @body_id = 'home-page' %>

<div class="hero store">
  <div class="bg photo"></div>
  <div class="bg shade"></div>
  <div class="container content">
    <h1>beautiful. unlosable.</h1>
    <p>discover your next pair of glasses with <span class="bold">free returns for 21 days</span>. </p>
    <button class="alternate">browse all frames</button>
  </div>
</div>

<div class="" id="store-home-content">
  <div id="utility-section">

    <div class="half-section">
      <a href="shop/t/optical">
        <div class="half-section-banner eyeglasses">
          <div class="section-content">
            <h1>eyeglasses</h1>
            <h3>browse our range of unisex <br/>eyeglasses frames &rsaquo;</h3>
          </div>
        </div>
      </a>
    </div>

    <div class="half-section">
      <a href="shop/t/sun">
        <div class="half-section-banner sunglasses">
          <div class="section-content">
            <h1>sunglasses</h1>
            <h3>browse our range of unisex <br/>sunglasses frames &rsaquo; </h3>
          </div>
        </div>
      </a>
    </div>

  </div>

  <%= render partial: 'layouts/social_proof' %>

  <%= render partial: 'layouts/cant_decide' %>
</div>
