<% @body_id = 'home-page' %>

  <div class="container" id="store-home-content">
    <!-- optical row -->
    <div class="row">
      <%= link_to nested_taxons_path(Spree::Taxon.find_by_name('Optical')), class: 'six columns utility-box' do %>
        <h1>Optical</h1>
        <p>Browse our range of optical frames &rarr;</p>
      <% end %>
      <div class="six columns utility-img">
        <%= image_tag 'frames/ive/ive_black_optical.jpg' %>
      </div>
    </div>

    <!-- sun row -->
    <div class="row">
      <div class="six columns utility-img">
        <%= image_tag 'frames/ford/ford_black_sun.jpg' %>
      </div>

      <%= link_to nested_taxons_path(Spree::Taxon.find_by_name('Sun')), class: 'six columns utility-box' do %>
        <h1>Sun</h1>
        <p>Browse our range of sun frames &rarr;</p>
      <% end %>
    </div>
  </div>
