<% @body_id = 'home-page' %>

  <div class="container" id="store-home-content">
    <!-- optical row -->
    <div class="row">
      <a href="t/optical" class="six columns utility-box">
        <h1>Optical</h1>
        <p>Browse our range of optical frames &rarr;</p>
      </a>
      <div class="six columns utility-img">
        <%= image_tag 'frames/ive/ive_black_optical.jpg' %>
      </div>
    </div>

    <!-- sun row -->
    <div class="row">
      <div class="six columns utility-img">
        <%= image_tag 'frames/ford/ford_black_sun.jpg' %>
      </div>
      <a href="t/sun" class="six columns utility-box">
        <h1>Sun</h1>
        <p>Browse our range of sun frames &rarr;</p>
      </a>
    </div>
  </div>
