<%= stylesheet_link_tag 'layouts/action_bar', media: 'all' %>
<%= javascript_include_tag 'layouts/action_bar', :defer => "defer" %>

<div class="action-bar">
  <div class="action-btn left">
    <a href="/buy">buy online</a>
  </div>
  <div class="action-btn mid">
    <a href="/retail">try in store</a>
  </div>
  <div class="action-btn right">
    <a href="#">can't decide?</a>
  </div>
</div>
