<%= stylesheet_link_tag 'layouts/action_bar', media: 'all' %>
<%= javascript_include_tag 'layouts/action_bar', :defer => "defer" %>

<% if defined?(type) && type == "store" %>
  <div class="action-bar compact">
    <a href="/gallery" class="tz-track" data-category="action-bar" data-event="gallery-click">
      <div class="action-btn left">
        gallery
      </div>
    </a>
    <a href="/retail" class="tz-track" data-category="action-bar" data-event="retail-click">
      <div class="action-btn right">
        try in store
      </div>
    </a>
    <!--<a href="#" class="tz-track" data-category="action-bar" data-event="cant-decide-click">
      <div class="action-btn right">
        can't decide?
      </div>
    </a> -->
  </div>
<% elsif defined?(type) && type == "gallery" %>
  <div class="action-bar compact">
    <a href="/buy" class="tz-track" data-category="action-bar" data-event="buy-click">
      <div class="action-btn left">
        buy now
      </div>
    </a>
    <a href="/retail" class="tz-track" data-category="action-bar" data-event="retail-click">
      <div class="action-btn right">
        try in store
      </div>
    </a>
  </div>
<% else %>
  <div class="action-bar">
    <a href="/buy" class="tz-track" data-category="action-bar" data-event="buy-click">
      <div class="action-btn left">
        buy now
      </div>
    </a>
    <a href="/gallery" class="tz-track" data-category="action-bar" data-event="gallery-click">
      <div class="action-btn mid">
        gallery
      </div>
    </a>
    <a href="/retail" class="tz-track" data-category="action-bar" data-event="retail-click">
      <div class="action-btn right">
        try in store
      </div>
    </a>
  </div>
  <!-- <div class="action-bar">
    <a href="/buy" class="tz-track" data-category="action-bar" data-event="buy-click">
      <div class="action-btn left">
        buy now
      </div>
    </a>
    <a href="/retail" class="tz-track" data-category="action-bar" data-event="retail-click">
      <div class="action-btn mid">
        try in store
      </div>
    </a>
    <a href="#" class="tz-track" data-category="action-bar" data-event="cant-decide-click">
      <div class="action-btn right">
        can't decide?
      </div>
    </a>
  </div> -->
<% end %>
