<header id="dashboard">
  <div class="left-content">
   <span id="tzukuri">T Z U K U R I <span id="dashboard">dashboard</span></span>
 </div>

  <div class="right-content">
    <span id="user"><%= current_user.name %></span> <%= link_to "logout", destroy_user_session_path, :method => :delete %>
  </div>
</header>
