<header class="u-full-width">
  <div class="container">
    <div class="three columns">
      <a id="tzukuri" href="/">TZUKURI</a>
    </div>
    <div class="nine columns" style="float:right">
      <a id="hamburger" class="fa fa-bars"></a>
      <nav id="primary-id">
        <a href="/function" class="<%= 'selected' if params[:page] == 'function' %>">function</a>
        <a href="/form" class="<%= 'selected' if params[:page] == 'form' %>">form</a>
        <a href="/care" class="<%= 'selected' if params[:page] == 'care' %>">care & craft</a>
        <a href="/try" class="no-decoration"><button class="sm-btn">try them on</button></a>
      </nav>
    </div>
  </div>
</header>
