<footer>
  <div class="container">
    <div class="row">
      <!-- mailing list column -->
      <div class="six columns">
        <p class="footer-head">sign up for news</p>

        <div id="footer-subhead">
          <p>Receive news about our creations, spaces, invitations and other interesting things.</p>
        </div>

        <div id="footer-signup">
          <form action="http://tzukuri.createsend.com/t/d/s/pjrhli/" method="post" id="subForm">
            <input id="fieldEmail" name="cm-pjrhli-pjrhli" type="email" placeholder="email address" required />
          </form>
        </div>
      </div>
      <!-- site directions column -->
      <div class="six columns">
        <p class="footer-head">site directions</p>

        <div id="sitemap">
          <a href="/function">function</a> |
          <a href="/form">form</a> |
          <a href="/care">care & craft</a> |
          <a href="/try">try them on</a> |
          <a href="/reserve">buy</a>
          <br/>
          <a href="http://help.tzukuri.com">help</a> |
          <a href="/media">media</a> |
          <a href="/privacy">privacy</a>
        </div>

        <div id="social-links">
          <a href="https://instagram.com/tzukuri"><i class="fa fa-2x fa-instagram"></i></a>
          <a href="https://facebook.com/tzukuri"><i class="fa fa-2x fa-facebook"></i></a>
          <a href="https://twitter.com/tzukuri"><i class="fa fa-2x fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <hr/>

    <!-- footer bottom -->
    <div class="row" id="footer-bottom">
      <div class="ten columns">
        <p id="quote">'Seeking means having a goal. But finding means, being free, being open, having no goal.' <span class="bold">Herman Hesse</span></p>
      </div>
      <div class="two columns">
        <p id="copy">&copy; Tzukuri 2017</p>
      </dvi>
    </div>
  </div>
</footer>
