<header id="store">
  <div>
    <h1><a href="/"><%= image_tag 'logo.png', height: 25, alt: 'Tzukuri' %></a></h1>
    <span class="pe-7f-check" style="color: white; opacity: 0.0"></span>
    <a id="hamburger" class="fa fa-bars"></a>
    <menu>
      <nav>
<!--         <a href="" class="<%#= 'selected' if params[:page] == 'design' %>">Design</a>
        <a href="" class="<%#= 'selected' if params[:page] == 'technology' %>">Technology</a>
        <a href="" class="<%#= 'selected' if params[:page] == 'manufacturing' %>">Manufacturing</a>
        <a href="" class="<%#= 'selected' if params[:page] == 'personalfitting' %>">Personal Fitting</a>
        <a href="" class="<%#= 'selected' if params[:page] == 'story' %>">Our Story</a> -->
        <a href="" id="subscribe">Subscribe</a>
      </nav>
      <!-- <button id="show-subscribe">Subscribe</button> -->
    </menu>
  </div>
</header>
