<header class="u-full-width">
  <div class="container">
      <a id="tzukuri" href="/">TZUKURI</a>
      <nav id="primary-nav">
        <a href="/unlosable-glasses" class="<%= 'selected' if params[:page] == 'unlosable-glasses' %>">unlosable glasses</a>
        <a href="/the-range" class="<%= 'selected' if params[:page] == 'design-and-range' %>">the range</a>
        <a href="/intelligently-made" class="<%= 'selected' if params[:page] == 'intelligently-made' %>">intelligently made</a>
        <a href="/buy" class="no-decoration" id="try-btn"><button class="tz-track" data-category="nav" data-event="buy-now-click">buy now</button></a>
      </nav>
      <a id="hamburger" class="fa fa-bars"></a>
  </div>
</header>
