<footer>
    &copy; Tzukuri 2016
    <span>
        <a href="/terms">terms</a>
        <a href="/privacy">privacy</a>
        <a href="/faq">faq</a>
    </span>
    <span>
        <a href="/contact">contact</a>
        <a href="/about">about</a>
    </span>
</footer>
