<header class="u-full-width">
  <div class="container">
    <a id="tzukuri" href="/">TZUKURI</a>
<!--     <a id="hamburger" class="fa fa-bars"></a>
    <nav id="primary-nav">
      <a href="/design" class="<%#= 'selected' if params[:page] == 'design' %>">design</a>
      <a href="/technology" class="<%#= 'selected' if params[:page] == 'technology' %>">technology</a>
      <a href="/craft"  class="<%#= 'selected' if params[:page] == 'craft' %>">craft</a>
      <a href="/fitting" class="<%#= 'selected' if params[:page] == 'fitting' %>">personal fitting</a>
      <a href="/story" class="<%#= 'selected' if params[:page] == 'story' %>">our story</a>
      <button>reserve</button>
    </nav> -->
  </div>
</header>
